<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strand</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static "gateway/css/userportal.css" %}"/>
    <script src=" {% static "gateway/javascripts/jquery-2.2.0.js" %}"></script>
</head>
<body>
  <div id="portalwindow">

    <div id="portalquestion"> <p>Hiya, what do you want to do ?<p> </div>

    <div id="buttoncontainer">

     <div class='portal' id="consumerportal" >
       <a  href="{% url 'consumer:dashboard' %}">Go to editor</a>
     </div>
     <div id="supplyportal" class="portal">
       <a href="{% url 'consumer:dashboard' %}"> View my content </a>
     </div>
    </div>


  </div>



<script type="text/javascript">

$('#consumerportal').on('mouseover', function(){
    $(this).css({'border': '4px solid #665544'});
});

$('#consumerportal').on('mouseout', function(){
    $(this).css({'border': '2px solid #665544'});
});

$('#supplyportal').on('mouseover', function(){
    $(this).css({'border': '4px solid #665544'});
});

$('#supplyportal').on('mouseout', function(){
    $(this).css({'border': '2px solid #665544'});
});


$(document).ready(function(){
  $('#consumerportal').fadeIn(3000);
  $('#supplyportal').fadeIn(3000);
});






  /*$('.portal').on('hover', function(){
    $this.css({});
  }); */

</script>

</body>
</html>
