.deck-parent{
  position: absolute;
  left:400px;
  width: 500px;
  height: 500px;
}

.deck-container{
  position: relative;
  width:100%;
  height:100%;
}

#side-panel-inner{
  position: relative;
  height:100%;
  width:200px;
  background-color: #efe253;
}

#toolbox-deck{
  position: relative;
  top:50px;
  float: left;
  height: 200px;
  width:200px;
}


#toolbox-deck-preview{
  position: relative;;
  width:200px;
  background-color: red;
}

.deck-tool-item{
  position: relative;
  width:48%;
  height: 48%;
  float: left;
}
