
.toolbox{
  position: absolute;
 top:10px;
 left:50%;
 width:700px;
 height:70px;
 margin-left: -350px;
 box-shadow: 6px 6px 3px #888888;
 border-radius: 7px;
}

.logo{
  position: relative;
  float: left;
  display: inline-block;
  width:70px;
  height: 100%;
  border-radius: inherit;
}

#player{
  position: absolute;
  right:20px;
  width:300px;
  height:170px;
}




#primary_nav_wrap
{
  position: relative;
	margin-top:15px;
  width:50%;
  float:left;

}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}


.htMenu{
  position: absolute;
  color:purple;
  z-index: 10000000 !important;
}

.htContextMenu{
    z-index:4000000000000000000;
}

.handsontable{
    z-index:4000000000000000000;
}

.module{
  color:purple !important;
}

#side-panel-main{
  position: absolute;
  top:100px;
  width: 190px;
  height: 220%;
  color:white;
  background-color: #EED2EE;
  border-radius: 10px;
}

.Spreadsheet{
  background-color: #98FB98 !important;
}

.Youtube{
  background-color: #FF9999 !important;
}

#module-options{

}

body{
  background-color: #ededed !important;
}

html{
  background-color: #ededed !important;
}

.yt-video p{
  padding:10px;
  color:#52361b !important;
}

.yt-video img{
  padding: 10px;
  border-radius: 7px;
  width: 90%;
}

#youtube-search-term{
  border: none;
  background-color: #e52d27 !important;
  color:white !important;
  padding:5px;
  border-radius: 3px;
}

.deck-tool-item{
  width: 45%;
  height: 40px;
  border: none;
  background-color: #926239 !important;
  color:white !important;
  padding:5px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 4px;
  margin-top: 2px;
}

#toolbox-deck{
  top:5px;
  height:100px;
}

.side-panel{
  position: relative !important;
  width: 100% !important;
  top:0px !important;
  left:0px;
}

#charTitle{
  width: 100% !important;
  color:black !important;
}

#ctx-y-axis{
width: 100% !important;
color:black !important;
}

#ctx-x-axis{
width: 100% !important;
color:black !important;
}

#table-container{
  position: relative !important;
  width: 100% !important;
  height:100% !important;

}

#container-table-dataentry{
  position: relative !important;
  height:100% !important;
}

#table-dataentry {
  position: relative !important;
  height:100% !important;
}
