.table-container{
  position: relative;;
  width:100%;
  top:10px;
  height:100%;
  left:0px;
  top:0px;
  z-index: 100;
}

#container-table-dataentry{
  position: relative;;
  width: 430px;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  float: left;
}

#table-container{
  position: absolute;
  width: 500px;
  height: 100px;
  background-color: #49a8d8;
  border-radius: 20px;
  color white;
  opacity: 0.5;
}

#table-function-container{
  position: relative;
  float:left;
  width:60px;
  height:100%;
}

td{
  width:70px;
  min-width: 50px;
  border: 1px solid grey;
}

#myChart{
  position: relative;
  width:100%;
  height: 100%;
}

#table-container-dataset{
  position: relative;
  width:100%;
  height:45%;
  display: inline-block;
}
#html5colorpicker{
  position: relative;
  width:100%;
  height:30%;
  display: inline-block;
 }

 #input-table-creator{
    position: relative;
    width:100%;
    height:30%;
    display: inline-block;
 }

#table-dataentry{
  position: relative;
  float: left;
}

.table-action-button-input{
  position: relative;
  width:45%;
  height:100%;
  float: left;
}


.table-graph-in {
  position: relative;
  width: 90%;
  height: 90%;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.table-graph-in:focus,
.table-graph-in.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}







/* FORM */
#graph-main-controller{
  position: absolute;
  top:300px;
  background-color: #b59fc0;
  padding:20px;
  border-radius: 15px;
  color:white;
  font-size: 18px;
}




label.dropdown select {
	padding: 10px 42px 10px 10px;
	background: #f8f8f8;
	color: #444;
	border: 1px solid #aaa;
	border-radius: 0;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
}
label.dropdown select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #444;
}
label.dropdown select::-ms-expand {
	display: none;
}
label.dropdown:before {
	content: '';
	right: 5px;
	top: -7px;
	width: 30px;
	height: 33px;
	background: #f8f8f8;
	position: absolute;
	pointer-events: none;
	display: block;
}
label.dropdown { position: relative; }
label.dropdown:after {
	content: '>';
	font: 16px Consolas, monospace;
	color: #444;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 2px;
	top: -3px;
	border-bottom: 1px solid #aaa;
	position: absolute;
	pointer-events: none;
	width: 35px;
	padding: 0 0 5px 0;
	text-indent: 14px;
}
@media screen\0 {
	label.dropdown:after {
		width: 38px;
		text-indent: 15px;
        right: 0;
	}
}
@media screen and (min--moz-device-pixel-ratio:0) {
	label.dropdown select { padding-right: 40px; }
	label.dropdown:before { right: 6px; }
	label.dropdown:after {
		text-indent: 14px;
		right: 6px;
		top: -5px;
		width: 36px;
	}
}
