html {
    max-width: 100%;
    overflow-x: hidden;
}

#suppplychoser{
  width: 100%;
  position: relative;
  height: 30px;
  background-color: red;
  margin-top: -4px;
}

#gettestdata{
  position: fixed;
  width: 100px;
  height:100px;
  background-color: red;
  left:100px;
  top:300px;
  z-index: 10000;
}


#ctest{
  position: fixed;
  width: 100px;
  height:100px;
  background-color: red;
  left:500px;
  top:300px;
  z-index: 10000;
}

#contentpane{
  position:absolute;
  width: 100%;
  height: 100%;
  left:0px;
  top:0px;
  display: inline-block;
  text-align: center;
}

#mainsupplypane{
  position: relative;
  width: 700px;
  min-width: 300px;
  height: 500px;
  top:80px;
  box-shadow: 1px 1px 3px #665544;
  display: inline-block;
  margin:0 auto;
}

#analytics-sidebar{
    position: absolute;
    width:100px;
    height:500px;
    right:20px;
    top:80px;
    display: inline-block;
    border:1px solid #665544;
}


#supplypage{
    position: absolute;
    width:100px;
    height:500px;
    left:20px;
    top:80px;
    display: inline-block;
    border:1px solid #665544;
}


#supplygroups{
  position: absolute;
  width: 20%;
  height:100%;
  border-right: 1px solid #665544;
}

#supplylines{
  position: absolute;
  left:20%;
  width: 80%;
  height:100%;
  border-right: 1px solid #665544;
}
#addsupplygroup{
  position: relative;
  width: 100%;
  height: 100%;
}

.add{
  position: absolute;
  bottom: 0px;
  left:50%;
  margin-left: -20px;
  width:40px;
  height: 40px;
  text-decoration: none;
}

.add:hover{
  background-color: #CD9B9B;
}

#supplygroupscontainer{
  position:relative;;
  display: inline-block;
  width: 100%;
}

.group{
  position: relative;
  padding-top:10px;
  padding-bottom: 10px;
  width: 100%;
  display: inline-block;
  background-color: #5C246E;
  color:white;
}

.group:hover{
  background-color: #776644;
}


#hard-buttons{
  position: absolute;
  left:49%;
  bottom: 0px;
}
