html{
	background-color: #D6DEE1;
}

#file-manager{
	position: absolute;
	width:400px;
	height:700px;
	top:0px;
	left:0px;
	z-index: 1000000000000000;
	visibility: hidden;
}



#tester1{
	color:red;
	border-color: orange;
}


#realtime-debugger{
	position: fixed;
	left:-200px;
	top:20px;
	background-color: red;
	width:100px;
	height:100px;
	color:white;
}


#editor{
	position: absolute;
	top:100px;
	left:15%;
	width:70%;
	height:150%;
	background-color: white;

}


#overlay{
	position: absolute;
	top:15%;
	left:15%;
	width:70%;
	height:150%;
	pointer-events: none;
	rgba(255,255,255,.1);
}


.page{
	position: relative;
	width: 90%;
	height: 90%;
	top:5%;
	left:5%;
	display:inline-block;
	background-color: white;
}

.para{
	position: relative;
	display: block;
}

.line{
	position: relative;
	background-color:white;
	display: inline-block;

}

.line-segment{
	color:black;
	float: left;
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
 	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
 	user-select: none;
}

.cursor{
	position:absolute;
	height: inherit;
	width: 2px;
	background-size: cover;
	background-color: black;
	z-index: 100;
}

.add{
	background-color:white;
}


.debug{
	position: absolute;
	background-color: #AC5;
	right:0px;
	height:300px;
	width:300px;
	top:0px;
}


.check-width{
	position: absolute;
	display: inline-block;
}

#single-width{
	position: absolute;
	bottom: 10px;
	left:100px;
	background-color: #efadbf;
}



#multi-width{
	position: absolute;
	bottom: 10px;
	left:150px;
	background-color: red;
}

.green { color:green; }
.blue { color: blue; }
.orange { color: orange; }
.yellow { color: yellow; }
.red { color: red; }​



#buffer-info{
	position:absolute;
	width: 100%;
	height: 100%;
}


#debug-data{
	position: absolute;
	right:10px;
	top:20px;
	width: 100px;
	height:800px;
	overflow: auto;
	overflow-x: hidden;
	background-color: purple;
	color:white;
	visibility: hidden;
}


#dev-buttons{
	position: absolute;
	top:86%;
	left:30%;
	visibility: hidden;
}


#module-checker{
	position: absolute;
	width: 400px;
	height: 400px;
	top:400px;
	left:400px;
	background-color: blue;
	z-index: 100000;
	visibility: hidden;
}


#module-options{
	position:absolute;
	width:400px;
	height:300px;
	right: 0px;
	top:300px;
	padding:20px;
	border-radius: 10px;
	margin-left: -200px;
	margin-top: -200px;
	z-index: 100000;
	visibility: hidden;
	overflow-y: scroll;
	background-color: white !important;

}

.listofmodules{
	position: relative;
	float: left;
	left:5%;
	top:0px;
	width: 90%;
	height: 100%;
	padding: 0px !important;

}
#module-options-list{
	position: absolute;
	float: left;
	width: 100%;
	height:auto;
	left:0px;
	top:0px;
	background-color: white !important;
	overflow-y: scroll;
}

.single-list-2{
	position: relative;
	width:100%;
	height: 60px;
}

.single-list{
	position: relative;
	width:100%;
	height:60px;
}

.single-list-div{
	position: relative;
	width:100%;
	height:100%;
	background-color: #efefe4;
	overflow: hidden;
	cursor: pointer;
}




.list-pics{
	position: relative;
	width:60px;
	border-radius: 50%;
	float:left;
}

.mod-text{
	position: relative;
	display: inline-block;
	float:left;
	padding:20px;
	color: purple;
	}

.single-list-div:hover{
	background-color: #aaaaaa;
}



/*
.module{
	width:300px;
	height:150px;
	overflow: hidden;
} */

.module-free{
	position: absolute;
	width:300px;
	height:150px;
	overflow: hidden;
  min-height: 6.5em;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
					z-index: 1000000000;

}

.module{
	padding:10px;
	overflow: hidden;
	width:300px;
	height:150px;
  min-height: 6.5em;
  color: white;
  border-radius: 0px;
	z-index: 10000000;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
					pointer-events:all;
	background-color: #D8BFD8;
}


.module.switch-bg {
  background-color: #f40;
}

.module.large {
  -webkit-transform: scale(3);
  transform: scale(3);
}

.module::before {
}


#testtt{
	position: absolute;
	z-index: 10000000000;
}

.Youtube iframe {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

#sample{

}

#mod-inner-container{
	position: relative;
	overflow: auto;
	height: 100%;
	width: 100%;
}

.htDatepickerHolder{
	z-index: 10000000 !important;
}

#html5colorpicker{
	position: relative;
	min-width: 5px;
	min-height: 10px;
}

.bargraph{
	background-color: white !important;
}

#table-color-input-row{
	height:30% !important;
}
#table-data-input-row{
	height:30% !important;

}
#table-label-input-row{
	height:30% !important;
}
td{
	height:15px !important;
}

#chart-pannel{
}
#table-container{
	border-radius: 0px !important;
}

#container-table-dataentry{
	left:10px !important;
}

#html5colorpicker{
		width: 40px !important;
		height: 40px !important;
}
