.toolbox-outer-container{
    position: absolute;
    width:100%;
    height:100%;
}

.inner-container{
  position: relative;
  height:100%;
  width:100%;
  display: inline-block;
  border-radius: inherit;
}

.tool-item{
  position: relative;
  display: inline-block;
  float: left;
}

.make4{
  position: relative;
  display: inline-block;
  width:45%;
  height:45%;
  float: left;
}


.in-box{
  position: relative;
  height:100%;
  width:100%;

}



/* sections */
.make-hyperlink{
  position: relative;
  float: left;
  width: 70px;
  height:100%;
}

.moduleChoice{
  position: relative;
  width:70px;
  height:100%;

}

.font-stuff{
  position: relative;
  height:100%;
  width: 110px;
  padding:5px;
}

.alignment-operator{
  width:70px;
  height:100%;
  padding: 5px;
}


.meta-style{
  width:70px;
  height:100%;
  background-color: #dddddd;
}

.color-panel{

}


.full-img{
  position: relative;
  width:100%;
  height:100%;
}


.font-family{
  position: relative;
  width:90%;
  height:45%;
  display: inline-block;

}


.full-block{
  position: relative;
  float: left;
  display: inline-block;
  width:70px;
  height:100%;
  padding-left: 10px;

}

.img-container{
  position:relative;;
  width:100%;
  height: 100%;
}


.header{
  padding:3px;
  color: white;
  font-family: cursive;

}

.b-input{
  position: relative;
  display: inline-block;
  width:40%;
  float: left;
}

.sh-button{
  position: relative;
  width:100%;
  background-color: green;
  border-style: none;
  border-radius: 5px;
  padding:2px;
  margin-top: 2px;
}


.sh-button:hover{
  background-color: brown;
}

.formula-input{
  position: relative;
  width:300px;
  height:50px;
  border-radius: 5px;
  margin-top: 10px;
}
