#underLine{
  color:black;
  font-size:15px;
}
.underlined{
  text-decoration: underline;
}
.test1{

}
#fake_textarea{
  position:fixed;
  top:450px;
  left:150px;
}

#twitterSectionTesting{
  position:fixed;
  top:250px;
  left:550px;
}

.textChoice{
  position:fixed;
  top:70px;
  left:600px;

}

.dropbtn {
    background-color: #47476b;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/* Dropdown button on hover & focus */
.dropbtn:focus {

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    top:60px;
    left:200px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
