#portalwindow{
  position: absolute;
  width:70%;
  height:70%;
  top:5%;
  left:15%;
}

#portalquestion{
  position:relative;
  color: #5C246E;
  width:100%;
  height:100px;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;

}

#buttoncontainer{
  position: relative;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.portal{
  position: relative;
  width:200px;
  height: 200px;
  display:inline-block;
  border:2px solid #665544;
  font-family:cursive;
  font-size:20px;
  border-radius:50%;
  background-color: #ffffff;
  margin: 10px;
  text-align: center;
}


a {
  display:block;
	float:left;
	width:100%;
	padding-top:50%;
  padding-bottom:50%;

	line-height:1em;
	margin-top:-0.7em;

	text-align:center;
	color: #5C246E;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}



#test-anim{
  position:relative;
  margin-left: 50%;
  margin:0 auto;
  height: 150px;
  width:150px;
  border-radius:50%;
}
