{% extends "navibar/base.html" %}
{% block title %}dashboard{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/dashboard.css" %}"/>
<script src=" {% static "consumer/javascripts/jquery-2.2.0.js" %}"></script>

<div id='supplypage'>
  <div class='supplyline'></div>
  <div class='supplyline'></div>
  <div class='supplyline'></div>
  <div class='supplyline'></div>
  <div class='supplyline'></div>
</div>

<div id='contentpane'>
    <div id='mainsupplypane' class='block'>

      <div id='supplygroups'>
      <!--  {% include "consumer/groups.html" %} This another means of url mapping-->
        <a class='add' id='addgroup'>
          <img class="addbtn" src="{% static "consumer/images/add.png" %}" />
        </a>
      </div>

      <div id='supplylines'></div>
    </div>
</div>


<div id='analytics-sidebar'>
  <div id='supply-health'></div>
  <div id='supply-map-link'></div>
  <div id='supply-queue'></div>
  <div id='supply-notes'></div>
  <div id='supplier-messages'></div>
</div>

<button id="gettestdata">
  <span>Click this</span>
</button>



<button id="ctest">
  <span>Click this</span>
</button>

<div id='hard-buttons'>
  <button id='add-data'>add data</button>
  <button id='get-data'>get data</button>
</div>

<script>
$(document).ready(function() {
    $.ajax({
          type: "GET",
          url: "loadgroups/",
           success: function(data) {
             alert(data);
             $(data).insertBefore('#addgroup');
           }
       });
  });

  $("#add-data").on('click', function(){
   $.ajax({
         type: "POST",
         url: "loaddata/",
          success: function(data) {
            alert(data);
          }
      });
  });


  $("#gettestdata").on('click', function(){
    $.ajax({
          type: "GET",
          url: "gettestdata/",
           success: function(data) {
             alert(data);
           }
       });
  });

  $("#ctest").on('click', function(){
    $.ajax({
          type: "GET",
          url: "ctest/",
           success: function(data) {
             alert(data);
           }
       });
  });

  $("#add-data").on('click', function(){
    $.ajax({
          type: "GET",
          url: "getdata/",
           success: function(data) {
             alert(data);
           }
       });
    });

</script>

{% endblock %}
