{% extends "navibar/base.html" %}
{% block title %}editor{% endblock %}


{% block content %}
{% load static %}


<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/dashboard.css" %}"/>
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/editor.css" %}"/>
<script src=" {% static "consumer/javascripts/jquery-2.2.0.js" %}"></script>

  <div id='single-width' class='check-width'></div>
  <div id='multi-width' class='check-width'></div>

  <div id='editor' class='editor-view'>
    <div id='firstPage' class='page'>
    </div>
  </div>

  <div class='cursor'></div>


  <div id='debug-data'></div>



<div id='dev-buttons'>
  <button id='reset-debug'>Buffer Data</button>
  <button id='show-styleBuffer'>StyleBuffer Data</button>
</div>
  <!--
  <div class='debug' right='0px !important'>
    <label class='buffer-data'></label>
    <button id='reset-colors'>reset</button>
    <textarea rows="15" cols="50" id="buffer-info"
                      style="resize: both;"></textarea>
  </div>
  -->

<script type="text/javascript">
//**********************************
//**********************************

//have a an array of of all lines
//These will have counters for
//1) # chars in line
//2) first 20 spots will be reserved
//   for other critical flags and counters
// should have big performance increae after
// this implementation


//**********************************
//**********************************

//@current
// Current GOAL:: Stop cursor from jumping over a para
// Next Goal:: Fix move_multiple_back so that it is accurate
// Fix load:: Find out root cuase of extra T loading in space location
// FIX:: space --refocus end of space then space is broken
// Implement:: On_window resize so cursor goes to correct position
// Implement :: Preliminary toolbar


// buffer gap text editor
// char limit is initially 40 000
// with a gap buffer of constanly 400
//<br> means new para
//lines are dynamic for html rendering have nothing to do with backend coding
//Global variables for editor
var active_span = false;
var size = 200; //article length
var buffer = new Array(size);
//text inserts happen at gap_start index as well as deletes
var gap_start = 0;
var gap_end = 1;
var chr = null;
var visual_cursor = $(".cursor");
var current_para = null;//$(".page div:eq(0)");
var current_line = null;//$(".page div:eq(0) span:eq(0)");
var current_line_segment = null;//$(".page div:eq(2) span:eq(0) span:eq(5)");
var previous_line_segment = $(".page div:eq(0) span:eq(0) span:eq(0)");
var previous_line = $(".page div:eq(0)  span:eq(0)");
var previous_para = $(".page div:eq(0)");
var previous_segment_index = 0;
// initialising logic

/* Prototype --- Style logic */
var styleBuffer = new Array(size);
var itemUrlArr = [];
var numOfSegments = 0;
var segmentPositions = [];
var waitForFirstItem = false;

// vars for styling logic
var waitingForNextWord = false;

var current_colour = null;
var current_font = null;
var current_font_size = null;

//the style queues
var colorQueue = [];
var fontQueue = [];
var sizeQueue = [];
var boldQueue = [];
var italicQueue = [];
var underQueue = [];
var segStyleInit = true;
var endPosOfStyleQueue = [];
var cursor_flash = null;

var cursor_active = false;

var current_segment_index = null;
// {'gap-start': unique code}
/*
e    => enter

      //basic rich content
brp   => photo url
brev  => embedded video
bra   => audio
html  => javascript/html segment

      //strand specific content
md    => discussion module
ms    => strand summary sheet

      // text special chars
br    => newline
para  => new paragraph
pg    => new page
// -------- End of style var initialistation
*/

//*****************************RULES*********************************
//   1) New segment carries attributes of previous segment
//   2) Always FOCUS to the very left until pysical chr is reached
//      2.1) what about skipping para logic ? <stop at para> <--  not ideal
//   3) Always FOCUS to the very right ??
//      3.1) could jump to unwanted styles
//   4)

window.onload = function(){
  buffer[0] = null;
  buffer[1] = null;
  buffer[2] = 'e';
  buffer[3] = 'l';
  buffer[4] = 'l';
  buffer[5] = 'o';
  buffer[6] = ' ';
  buffer[7] = ' ';
  buffer[8] = 'W';
  buffer[9] = 'o';
  buffer[10] = 'r';
  buffer[11] = 'l';
  buffer[12] = 'd';
  buffer[13] = ' ';
  buffer[14] = null; //null //ERROR Both visual and data
                            //Visual. Cusror cuts o in half
                            //Data. Data registers an extra move forward when null
  buffer[15] = 'H';
  buffer[16] = 'o';
  buffer[17] = 'w';
  buffer[18] = ' '; //null //ERROR      // Proposed Idea::
  buffer[19] = 'i';                     // Styles are stored in buffers AT ALL TIMES
  buffer[20] = 't';                     // SEGMENTING A Block of styles -- the s
  buffer[21] = ' ';                     // How will i asynchronous save ?
  buffer[22] = 'T';
  buffer[23] = 'T';
  buffer[24] = 'T';
  buffer[25] = 'T';
  buffer[26] = 'T';
  buffer[27] = 'T';
  buffer[28] = 'T';
  buffer[29] = 'T';
  buffer[30] = 'T';
  buffer[31] = 'T';
  buffer[32] = 'T';
  buffer[33] = 'T';
  buffer[34] = ' ';
  buffer[35] = 'T';
  buffer[36] = 'T';
  buffer[37] = 'T';
  buffer[38] = 'T';
  buffer[39] = 'T';
  buffer[40] = 'T';
  buffer[41] = 'T';
  buffer[42] = 'T';
  buffer[43] = 'T';
  buffer[44] = 'T';
  buffer[45] = ' ';
  buffer[46] = 'T';
  buffer[47] = 'T';
  buffer[48] = 'T';
  buffer[49] = 'T';
  buffer[50] = ' ';
  buffer[51] = 'T';
  buffer[52] = null; //colour
  buffer[53] = null; //para
  buffer[54] = 'x';
  buffer[55] = 'x';
  buffer[56] = 'x';
  buffer[57] = null; //colour-2
  buffer[58] = 'T';
  buffer[59] = 'T';
  buffer[60] = ' ';
  buffer[61] = 'x';
  buffer[62] = 'x';
  buffer[63] = null;
  buffer[64] = ' ';
  buffer[65] = 'T';
  buffer[66] = 'T'; //colour -2
  buffer[67] = 'T';
  buffer[68] = ' ';
  buffer[69] = 'A';
  buffer[70] = ' ';
  buffer[71] = 'B'; //colour

  styleBuffer[0] = 'para';
  styleBuffer[1] = '/#aaee44|13'; //serious bug ....works if at 13
  styleBuffer[14] = '/#ff1166|49';
  styleBuffer[18] = '/#ff00ff|49';
  styleBuffer[52] = '/#ff0000|67'; //#55ffaa/66
  styleBuffer[53] = 'para';
  styleBuffer[57] = '/#0000ff|63'; //#11ff11/57
  styleBuffer[63] = 'f16'; //f16/63

  load_document();
  splitEndOfStyle();
  load_styles();
  setUpVariables();
  destroyUsedData();
  setInterval(function(){
      if(cursor_active){
        cursor_flash();
      }
   }, 550);

  setInterval(function(){
        update_data_debug();
   }, 700);
  wipe_css();
};


var wipe_css = function wipe_css () {
  // body...
  $('.line-segment').each(function(){
    $(this).css({'color':'blue'});
    $(this).css({'background-color':'white'});
  });
}


// ------------ Data Manipulation ---------------------------------------------
//gap is intiially the same size as the array i.e 1000
//move gap forward
//if size = 200
//gap_start = 0 - 199
//gap_end = 0 - 199


var move_gap_forward = function move_gap_forward () {
  //check that postsize is greater than 1 or else array out of bounds exception
  var end = size - (gap_end);
  if(end < (size - 1)){
    // move the charat end to front of gap
    buffer[gap_start] = buffer[end + 1];
    styleBuffer[gap_start] = styleBuffer[end + 1];
    //nullify end position
    buffer[end + 1] = null;
    styleBuffer[end + 1] = null;

    gap_end -= 1;
    gap_start += 1;
  }
  else
  {
    //extend_buffer();
  }
}


var move_gap_back = function move_gap_back () {
  //check that postsize is greater than 1 or else array out of bounds exception
  if(gap_start > 0)
  {
    var end = size - (gap_end);
    // move the char at front to end of gap
    buffer[end] = buffer[gap_start - 1];
    styleBuffer[end] = styleBuffer[gap_start - 1];

    //nulify start position
    buffer[gap_start-1] = null;
    styleBuffer[gap_start-1] = null;

    gap_end += 1;
    gap_start -= 1;
  }
  else
  {

  }
}

 //@current
 //need to take into consideration nulls and stylebuffer values
var insert_char = function insert_char (chr) {
  // alert(gap_start);
  buffer[gap_start] = chr;
  gap_start += 1;
}

var delete_char = function delete_char (){
  buffer[gap_start - 1] = null;
  gap_start--;
}

var insert_multiple_char = function insert_multiple_char (str) {
  str_arr = str.split('');
  for (var i = 0 ; i < str_arr.length; i++)
  {
    insert_char(str_arr[i]);
  }
}

//to be done once selection logic is added
var delete_multiple_char = function delete_multiple_char (start, end){
}


//in memeory will go right up to next physical char i.e
var move_multiple_forward = function move_multiple_forward (num_chr){
  //alert('MMF:: ' + num_chr);
  for(var i = 0; i < num_chr; i++){
    //find physical char
    while(buffer[size - gap_end + 1] == null && gap_end > 1){
      //double nulls ??
      //are inherently handled as they should not be between a -> b
      move_gap_forward();
    }
    //then itt through num_char
    move_gap_forward();//num_chr ++
  }
}

var move_multiple_back = function move_multiple_back (num_chr){
  //alert('MMB:: ' + num_chr);
  for(var i = 0; i < num_chr; i++)
  {
    while(buffer[gap_start - 1] == null && gap_start > 0){
      move_gap_back();
    }
    move_gap_back();
  }
}



//remove 1 spot to the left AKA backspace
var back_space = function back_space () {
  var segment_text = current_line_segment.text().split('');

  //beggining
  if(current_segment_index == 0){
    if(current_line_segment.index() > 0){
      complete_till_prev();
      delete_char();
      //delete whole segment
      if(current_line_segment.prev().text().length == 1){
        current_line_segment = current_line_segment.prev();
        //choose where to assign the segment and index now
        if(current_line_segment.index() > 0 && current_line_segment.prev().text().length > 0){
          //second condition not necessary due to the fact that one can just have segment index at 0
          var del_chr = current_line_segment.text().charAt(0);
          current_line_segment = current_line_segment.prev();
          current_line_segment.next().remove();
          current_segment_index = current_line_segment.text().length;
          move_cursor_left(del_chr);
        }else if(current_line_segment.index() == 0){
          var del_chr = current_line_segment.text().charAt(0);
          current_line_segment.text(''); // NB the chr length must be one
          current_segment_index = 0
          move_cursor_left(del_chr);
        }
        alert('it fired');
      }else if(current_line_segment.prev().text().length > 1){
        current_line_segment = current_line_segment.prev();
        current_segment_index = current_line_segment.text().length - 1;
        var del_chr = current_line_segment.text().charAt(current_line_segment.text().length -1);
        var str = current_line_segment.text().slice(0, current_line_segment.text().length - 1);
        current_line_segment.text(str);
        move_cursor_left(del_chr);
      }
      //current_segment_index = 0;
    }
  }

  //middle
  else if(current_segment_index > 0  && current_segment_index < current_line_segment.text().length){
    complete_till_prev();
    delete_char();
    split_segment_for_space(segment_text);
    var del_chr = current_line_segment.text().charAt(current_line_segment.text().length -1);
    var str = current_line_segment.text().slice(0, current_line_segment.text().length - 1);
    current_line_segment.text(str);
    move_cursor_left(del_chr);
    current_line_segment.css({'background-color':'green'});
  }
  //end
  else if(current_segment_index > 0  && current_segment_index == current_line_segment.text().length){
    complete_till_prev();
    delete_char();
    current_segment_index = current_line_segment.text().length - 1;
    var del_chr = current_line_segment.text().charAt(current_line_segment.text().length -1);
    var str = current_line_segment.text().slice(0, current_line_segment.text().length - 1);
    current_line_segment.text(str);
    move_cursor_left(del_chr);
  }
  else{
    alert('ERROR:: back_space');
  }
}

//RULE:: ANY ACTION THAT OCCURS FROM THE EDGE OF A SEGMENT
//       CARRIES THE ATTRIBUTES OF THE ORIGINATING SEGMENT
var add_space = function add_space(){
  var segment_text = current_line_segment.text().split('');

  //At the end
  if(current_segment_index >= current_line_segment.text().length){
    complete_till_prev();
    insert_seg_at(' ');
    insert_space_buffer();
    move_cursor_right(' ');
  }
  //At the begginging
  else if(current_segment_index == 0 && current_line_segment.text().length >= 1){
    //complete_till_prev();
    complete_till_prev();
    insert_seg_at_before(' ');
    insert_space_buffer();
    move_cursor_right(' ');
  }
  else if(current_segment_index > 0  && current_segment_index < current_line_segment.text().length){
    //of spaces....
    //current_line_segment.charCodeAt(current_segment_index +1) == 160
    if(segment_text[current_segment_index] == ' '){
      complete_till_prev();
      split_segment_for_space(segment_text);
      insert_seg_at(' ');// the end of the first tempSeg i.e tempSeg1
      insert_space_buffer();
      move_cursor_right(' ');
    }//of word
    else if(segment_text[current_segment_index] != ' ' || segment_text[current_segment_index] == null){
      //complete_till_prev();
      split_segment_for_space(segment_text);
      insert_seg_at(' ');// the end of the first tempSeg i.e tempSeg1
      insert_space_buffer();
      move_cursor_right(' ');
    }
    else{
      alert("ERROR:: Add_space");
    }
  }
}


var insert_space_buffer = function insert_space_buffer () {
  // body...
  buffer[gap_start] = ' ';
  gap_start += 1;
}
//Split
//transfer
//insert

//after every style change
//space

var cssVals = null;
var update_css_buffer = function update_css_buffer(){
  // body...
  cssVals = previous_line_segment.css([
    "color", "background-color"
  ]);
}

var copy_style = function copy_style(){
  if(cssVals != null && cssVals != undefined){
      current_line_segment.css(cssVals);
  }
}

//operates from current buffer location
//only if a new style is declared in the middle of a segment or style
var insert_styles =  function insert_styles(){
  // body... will iterat through and insert all styles at currently focused position
  if(cssVals != null){
    for(var i = 0; i <  cssVals.length; i++){
      styleBuffer[gap_start] = cssVals[i];
      insert_char(null);
    }
  }
}

// RULE TO NOTE: ALL STYLEBUFFERS BEFORE A SEGMENT WILL ALWAYS APPLY TO THAT SEGMENT
var split_segment_for_space = function split_segment_for_space(segmentText) {
  // could use the substring method here but it would not be mirroring the underlying data structures
  var tempSeg1 = $("<span class='line-segment'></span>");
  var tempSeg2 = $("<span class='line-segment'></span>");
  //move_multiple_back(current_segment_index);
  //var segmentText = current_line_segment.text().split('');
  for(var i = 0; i < current_segment_index; i++){
    tempSeg1.append(segmentText[i]);
  }
  for(var i = current_segment_index; i < segmentText.length; i++){
    tempSeg2.append(segmentText[i]);
  }
  var segIndex = current_line_segment.index();
  if(segIndex > current_line.children().length){
    current_line.append(tempSeg1);
    current_line.append(tempSeg2);
  }else if(segIndex < 1){
    current_line.prepend(tempSeg2);
    current_line.prepend(tempSeg1);
  }else{
    current_line.children().eq(segIndex).after(tempSeg1);
    tempSeg2.insertAfter(tempSeg1);
  }
  current_line_segment.remove();
  current_line_segment = tempSeg1;
  current_segment_index = tempSeg1.text().length - 1;
}


var split_segment_for_new_word = function split_segment_for_new_word(segmentText) {
  // could use the substring method here but it would not be mirroring the underlying data structures
  var tempSeg1 = $("<span class='line-segment'></span>");
  var tempSeg2 = $("<span class='line-segment'></span>");
  //move_multiple_back(current_segment_index);
  tempSeg1.append(segmentText[0]);
  for(var i = 1; i < segmentText.length; i++){
    tempSeg2.append(segmentText[i]);
  }
  var segIndex = current_line_segment.index();
  if(segIndex > current_line.children().length){
    current_line.append(tempSeg1);
    current_line.append(tempSeg2);
  }else if(segIndex < 1){
    current_line.prepend(tempSeg2);
    current_line.prepend(tempSeg1);
  }else{
    current_line.children().eq(segIndex).after(tempSeg1);
    tempSeg2.insertAfter(tempSeg1);
  }
  current_line_segment.remove();
  current_line_segment = tempSeg2;
  current_segment_index = tempSeg2.length;
}


//Func:: travers style_buffer and meta data in underlying data structure
//starting points:: current_line_segment
var complete_till_next = function complete_till_next () {
  while(buffer[size - gap_end + 1] == null && gap_end > 1){
    move_gap_forward();
  }
}

//Func:: travers style_buffer and meta data in underlying data structure
//starting point:: current_line_segment
var complete_till_prev = function complete_till_prev (argument) {
  while(buffer[gap_start - 1] == null && gap_start > 0 ){
      move_gap_back();
  }
}

//param l_index:: index of current line
var insert_seg_at = function insert_seg_at (chr) {
  //1 = space
  if(chr == ' '){
    chr = '&nbsp';
  }
  $("<span class='line-segment'>"+chr+"</span>").insertAfter(current_line_segment);
  current_line_segment = current_line_segment.next();
  current_segment_index = 0;
}

var insert_seg_at_before = function insert_seg_at_before(chr) {
  //1 = space
  if(chr == ' '){
    chr = '&nbsp';
  }

  $("<span class='line-segment'>"+chr+"</span>").insertBefore(current_line_segment);
  current_line_segment = current_line_segment.prev();
  current_line_segment.css({'background-color':'green'});
  current_segment_index = 0;
}

var update_data_cycle = function update_data_cycle() {
  previous_segment_index = current_segment_index;
  previous_line_segment = current_line_segment;
  previous_line = current_line;
  previous_para = current_para;
}

// --------------------End of Data Manipulation -----------------------------------
//-------------------------------------------------------------------------------

// This logic will return a number of how many spaces and chars to move left or right
// when calling the datastructure logic make sure to skip the nulls
// --------------------------- Cursor Movement -------------------------------------
var count_rest_of_segment = function count_rest_of_segment (direction, chr_index) {
  var sum_chars = null;
  //direction = 0 //back /left
  //direction = 1 //forward /right
  if(direction == 1)
  {
    sum_chars += chr_index;
    var prev_size = previous_line_segment.text().length;
    sum_chars += prev_size - previous_segment_index;
  }
  else if(direction == 0)
  {
    //alert('psi: ' + previous_segment_index);
    sum_chars += previous_segment_index;
    var curr_size = current_line_segment.text().length - chr_index;
    sum_chars += curr_size;

  }
  return sum_chars;
}

//Func: counts the untouched segments inbetween the two focuesed segments
//quirk: does not offer wrap around for multi line / multi para
var count_inbetween_segments = function count_inbetween_segments (direction){
  var sum_chr_count = 0;
  var cs = current_line_segment;
  var ps = previous_line_segment; //check exceptions
  var all_segments = null;

  if(direction == 1){
    all_segments = ps.nextUntil(cs, '.line-segment');
  }
  else if(direction ==0){
    all_segments = ps.prevUntil(cs, '.line-segment');
  }

  all_segments.each(function(){
    sum_chr_count += $(this).text().length;
  });

  return sum_chr_count;
}


//This fun replaces the above one to calculate remainder segment length
//if the span is accross lines
var count_outlier_segments = function count_outlier_segments (direction){
  // body...
  var sum_chr_count = 0;
  var prev = previous_line_segment;
  var curr = current_line_segment;

  if(direction == 1){
    var prev_segs = prev.nextAll('.line-segment');
    var curr_segs = curr.prevAll('.line-segment');

    prev_segs.each(function (itt){
      sum_chr_count += $(this).text().length;
    });

    curr_segs.each(function(itt){
      sum_chr_count += $(this).text().length;
    });

  }else if(direction == 0){
    var prev_segs = curr.nextAll('.line-segment');
    var curr_segs = prev.prevAll('.line-segment');


    prev_segs.each(function (itt){
      sum_chr_count += $(this).text().length;
    });

    curr_segs.each(function(itt){
      sum_chr_count += $(this).text().length;
    });

  }

  return sum_chr_count;
}

var count_outlier_lines = function count_outlier_lines (direction) {
  var sum_chr_count = 0;
  if(direction == 1){
    var all_segs = previous_line.nextAll('.line').children('.line-segment');
    var all_segs2 = current_line.prevAll('.line').children('.line-segment');

    all_segs.each(function (itt){
      sum_chr_count += $(this).text().length;

    });
    all_segs2.each(function (itt){
      sum_chr_count += $(this).text().length;
    });
  }

  else if(direction == 0){
    var all_segs = current_line.nextAll('.line').children('.line-segment');
    var all_segs2 = previous_line.prevAll('.line').children('.line-segment');

    all_segs.each(function (itt){
      sum_chr_count += $(this).text().length;
    });

    all_segs2.each(function (itt){
      sum_chr_count += $(this).text().length;
    });
  }

  return sum_chr_count;
}

//EDIT
//counts remaining segments for last line on both sides
var count_remaining_segments = function count_remaining_segments (direction) {
  var sum_chr_count = null;
  if(direction ==1){
    var remaining_segments_curr = current_line.children('.line-segment').first();
    var remaining_segments_prev = previous_line.children('.line-segment').last();
    sum_chr_count += remaining_segments_curr.text().length;
    sum_chr_count += remaining_segments_prev.text().length;
    var all_segments = remaining_segments_curr.nextUntil(current_line_segment);
    var all_segments_prev = remaining_segments_prev.prevUntil(previous_line_segment);

    all_segments.each(function(itt){
           sum_chr_count += $(this).text().length;
         });
    all_segments_prev.each(function(itt){
           sum_chr_count += $(this).text().length;
         });
  }

  if(direction ==0){
    var remaining_segments_curr = current_line.children('.line-segment').last();
    var remaining_segments_prev = previous_line.children('.line-segment').first();
    sum_chr_count += remaining_segments_curr.text().length;
    sum_chr_count += remaining_segments_prev.text().length;

    var all_segments = remaining_segments_curr.prevUntil(current_line_segment);
    var all_segments_prev = remaining_segments_prev.nextUntil(previous_line_segment);

    all_segments.each(function(itt){
           sum_chr_count += $(this).text().length;
         });
    all_segments_prev.each(function(itt){
           sum_chr_count += $(this).text().length;
         });
  }
  return sum_chr_count;
}

var count_inbetween_lines = function count_inbetween_lines (direction){
  var sum_chr_count = 0;
  if(direction == 1){
    var all_segs = previous_line.nextUntil(current_line,'.line').children('.line-segment');
    sum_chr_count = all_segs.length;
  }else if(direction == 0){
    var all_segs = current_line.nextUntil(previous_line, '.line').children('.line-segment');
    sum_chr_count = all_segs.length;
  }
  return sum_chr_count;
}


//same as the method under except it does not iterate through paras to make if faster
var tobefixed = function in_para_segment_count (direction) {
  var sum_chr_count = null;

  //from begging line of para count all lines until selected
  if(direction == 1)
  {
    //count initial child line
    var initial_child_line = current_para.children('.line').first();

    if(!initial_child_line.is(current_line)){
      icl = initial_child_line.find('.line-segment');
      icl.each(function(itt){
            sum_chr_count += $(this).text().length;
          });

      var lines_involved = initial_child_line.nextUntil(current_line);

      lines_involved.each(function( index ){
      var all_line_seg = $(this).find('.line-segment');
        all_line_seg.each(function(itt){
           sum_chr_count += $(this).text().length;
         });
      });
    }

    var initial_child_line_prev = previous_para.children('.line').last()
    if(!initial_child_line_prev.is(previous_line)){
      icl = initial_child_line_prev.find('.line-segment');
      icl.each(function(itt){
            sum_chr_count += $(this).text().length;
          });

      var lines_involved = initial_child_line_prev.prevUntil(previous_line);

      lines_involved.each(function( index ){
      var all_line_seg = $(this).find('.line-segment');
        all_line_seg.each(function(itt){
           sum_chr_count += $(this).text().length;
         });
      });

    }
  }

  //from begging line of para count all lines until selected
  if(direction == 0)
  {
    var last_child_line = current_para.children('.line').last();
    if(!last_child_line.is(current_line)){
      icl = last_child_line.find('.line-segment');
      icl.each(function(itt){
            sum_chr_count += $(this).text().length;
          });

      var lines_involved = last_child_line.nextUntil(current_line);
      lines_involved.each(function( index ){
      var all_line_seg = $(this).find('.line-segment');
      all_line_seg.each(function(itt){
          sum_chr_count += $(this).text().length;
        });
      });
    }


    var initial_child_line_prev = previous_para.children('.line').first()
    if(!initial_child_line_prev.is(previous_line)){
      icl = initial_child_line_prev.find('.line-segment');
      icl.each(function(itt){
            sum_chr_count += $(this).text().length;
          });

      var lines_involved = initial_child_line_prev.nextUntil(previous_line);

      lines_involved.each(function( index ){
      var all_line_seg = $(this).find('.line-segment');
        all_line_seg.each(function(itt){
           sum_chr_count += $(this).text().length;
         });
      });

    }
  }
  return sum_chr_count;
}

//also need logic somewhere in this area to deal with neighbouring paras
//it will be th last call in the count_inbetween_segments chain
var count_inbetween_paras = function count_inbetween_paras (direction) {
  //get all the segmets inbetween and count their chars

  var sum_chr_count = null;
  //we are moving the gap right
  if(direction == 1)
  {
    //calculate in prev_segment_level
    //var paras_involved =
    //Care nextUntil is cyclical
    var paras_involved = previous_para.nextUntil(current_para);

    paras_involved.each(function( index ) {
        var all_line_seg = $(this).find('.line-segment');
        all_line_seg.each(function(itt){
        sum_chr_count += $(this).text().length;
        });
    });
    //alert(sum_chr_count);
  }

  //we are moving the gap left
  if(direction == 0)
  {
    var paras_involved = previous_para.prevUntil(current_para);

    paras_involved.each(function( index ) {
        var all_line_seg = $(this).find('.line-segment');
        all_line_seg.each(function(itt){
        sum_chr_count += $(this).text().length;
        });
    });
  }
  return sum_chr_count;
}


//Func: takes in click location e and moves cursor to that position
//Func: All it does is move cursor to physical location
//Return: The index of the char that is after the cursor
//Quirk: will always move segment if the seg_index is last for
var jump_cursor_in_segment = function jump_cursor_in_segment (e) {
  // the click logic
  var posX = current_line_segment.offset().left;
  var Xpos = e.pageX - posX;
  //$(".check-width").css = current_line_segment.css;
  var count = current_line_segment.text().length;
  var seg_text = current_line_segment.text().split('');
  var prev_char = null;
  var prev_width = null;
  var accumulated_width = null;
  var seg_index = 0;

  var alertTest = '';
  for(var i = 0; i < seg_text.length; i++){
    alertTest += seg_text[i] + ' , ' ;
  }

  for(var i = 0; i < count; i++)
  {
    var this_char = null;
    var left_offset_boundary = accumulated_width;

    if(seg_text[i] == ' ')
    {
        this_char = "&nbsp;";
    }
    else
    {
        this_char = seg_text[i];
    }
    //alert(this_char);
    //add to single width
    $("#single-width").html(this_char);
    var curr_width = $("#single-width").width();
    if(prev_char != null)
    {
      if(multi_width != prev_width + curr_width) // multi-width is neccessary for quirks
      {
        $("#multi-width").html(prev_char + this_char);
        var multi_width = $("#multi-width").width();
        accumulated_width += multi_width - prev_width;
        //alert("sdas");
      }
      else
      {
        accumulated_width += curr_width;
      }
    }
    else
    {
      accumulated_width += curr_width;
    }
    if(accumulated_width > Xpos)
    {
        var right_offset = accumulated_width - Xpos;
        var left_offset = Xpos -left_offset_boundary;

        //right half off the chr
        if(right_offset < left_offset || right_offset == left_offset)
        {
          $(".cursor").css({'left': (accumulated_width - 1  + posX) + 'px'});
          var line_height = current_line_segment.height();
          $(".cursor").css({'height': line_height + 'px'});
          var line_top = current_line_segment.offset().top;
          $(".cursor").css({'top': line_top + 'px'});
          seg_index = i + 1;
        }
        //clicked on left half of the chr
        else
        {
          $(".cursor").css({'left': ( left_offset_boundary - 1 + posX) + 'px'});
          var line_height = current_line_segment.height();
          $(".cursor").css({'height': line_height + 'px'});
          var line_top = current_line_segment.offset().top;
          $(".cursor").css({'top': line_top + 'px'});
          //seg_index = i - 1;
          seg_index = i;
        }
      break;
    }
    //Determine correct binding segment
    //There will be three state
    //Beggining of line
    //Middle of line
    //End of line
    prev_char = this_char;
    prev_width = curr_width;
  }
  return seg_index;
}

var move_cursor_left = function move_cursor_left(chr){
  var cls = current_line_segment.index();
  var special_case_adjust = 0;

  if(chr == ' ')
  {
    chr = "&nbsp;";
  }

  $("#single-width").html(chr);
  var curr_width = $("#single-width").width();

  var e = jQuery.Event( "mousedown", {
  which: 1,
    pageX: $(".cursor").offset().left - curr_width,
    pageY: $(".cursor").offset().top
  });
  jump_cursor_in_segment(e);
}

//@current
var move_cursor_right = function move_cursor_right (chr) {
  //alert(current_segment_index);
  //Simple hack:: fake a click event of + width of curr char
  var cls = current_line_segment.index();
  var special_case_adjust = 0;

  if(chr == ' ')
  {
    chr = "&nbsp;";
  }

  $("#single-width").html(chr);
  var curr_width = $("#single-width").width();

  if(current_segment_index > 0){
    var length = $("#multi-width").html(current_line_segment.text().charAt(current_segment_index-1) + chr).width();
    var preceeding_char_length = $("#single-width").html(current_line_segment.text().charAt(current_segment_index-1)).width();
    special_case_adjust = (preceeding_char_length + curr_width) - length;
  }
  var e = jQuery.Event( "mousedown", {
  which: 1,
    pageX: $(".cursor").offset().left + curr_width - special_case_adjust,
    pageY: $(".cursor").offset().top
  });
  jump_cursor_in_segment(e);
}

var move_cursor_down = function move_cursor_down () {
}

var move_cursor_up = function move_cursor_up () {
}

//haven't implemented gap start
var move_cursor = function move_cursor (chr_index) {
  //if segment is the same
  //alert(current_line_segment.data() + '  ' + previous_line_segment);
  //alert("gap start: " + gap_start + " gap end" + gap_end);

  if(current_line_segment.is(previous_line_segment))
  {
    //alert("hello");
    if(chr_index > previous_segment_index)
    {
      move_multiple_forward(chr_index - previous_segment_index)
    }
    if(chr_index < previous_segment_index)
    {
      move_multiple_back(previous_segment_index - chr_index);
    }
    if(chr_index == previous_segment_index)
    {
    }
  }
}
//commit index changes


var click_cursor = function click_cursor (chr_index)
{
  //in future count lines will not be called
  //as length of each line will be store in the
  //critical counter buffer. [optimisation phase]

  current_line = current_line_segment.parent();
  current_para = current_line.parent();

  var charCounter = null;

  // if still on the same segment
  if(current_line_segment.is(previous_line_segment))
  {
    //where in the segment did i click?
    //chr_index = jump_cursor_in_segment(e);
    //is it greater than previous?
    if(chr_index > previous_segment_index)
    {
      //move gap forward
      charCounter = chr_index - previous_segment_index;
      move_multiple_forward(charCounter);
    }
    //is it less than previous ?
    else if(chr_index < previous_segment_index)
    {
      //move gap back
      charCounter = previous_segment_index - chr_index;
      move_multiple_back(charCounter);
    }
    //do nothing -- exit execution as fast as possible
    else if(chr_index == previous_segment_index)
    {
      //do nothing
    }
  }
  //if still on the same line
  else if (previous_line.is(current_line))
  {
    //move gap right
    if(current_line_segment.index() > previous_line_segment.index())
    {

      charCounter = count_rest_of_segment(1 , chr_index);
      charCounter += count_inbetween_segments(1);
      move_multiple_forward(charCounter);

    }
    //move gap left
    else if(current_line_segment.index() < previous_line_segment.index())
    {
      var charCounter1 = count_rest_of_segment(0 , chr_index);
      var charCounter2 = count_inbetween_segments(0);
      move_multiple_back(charCounter2 + charCounter1);
    }
  }
  // if still on the same paragraph -- count in between lines
  else if(previous_para.is(current_para))
  {
    if(current_line.index() > previous_line.index())
    {
      charCounter = count_rest_of_segment(1 , chr_index);
      charCounter += count_outlier_segments(1);
      charCounter += count_inbetween_lines(1);
      move_multiple_forward(charCounter);
    }
    else if(current_line.index() < previous_line.index())
    {
      charCounter = count_rest_of_segment(0 , chr_index);
      charCounter += count_outlier_segments(0);
      charCounter += count_inbetween_lines(0);
      move_multiple_back(charCounter);
    }
  }

  //working with different paragrphs
  else if(!previous_para.is(current_para))
  {
    //chr_index = jump_cursor_in_segment(e);
    //alert("in different para");
    //gap will move right
    if(current_para.index() > previous_para.index())
    {
      charCounter = count_rest_of_segment(1 , chr_index);
      charCounter += count_outlier_segments(1);
      charCounter += count_outlier_lines(1);
      charCounter += count_inbetween_paras(1);
      move_multiple_forward(charCounter);
    }
    else if (current_para.index() < previous_para.index() ){
      charCounter = count_rest_of_segment(0 , chr_index);
      charCounter += count_outlier_segments(0);
      charCounter += count_outlier_lines(0);
      charCounter += count_inbetween_paras(0);
      move_multiple_back(charCounter);
    }
    //calculate sum of segments in in between paras
    //calculate sum of lines in between segments
    //calculate segment offsets
  }
  //configure vars for next event cycle
  //previous_segment_index = chr_index;
  //this backwards movement is not sticking
  previous_segment_index = chr_index;
  previous_line_segment = current_line_segment;
  previous_line = current_line;
  previous_para = current_para;
}


// THE BIG CHECKS ______________ YES
var check_out_of_bounds = function check_out_of_bounds () {
  var boundwidth = current_line.width();

  var child_combined_width = null;
  current_line.children('span').each(function () {
      var curr_item = $(this);
      child_combined_width += curr_item.width();
  });
  if(child_combined_width > boundwidth - 10)
  {
   return true;
  }
  else
  {
    return false;
  }
}
// ----------------------------End of Cursor movement ---------------------------
//-------------------------------------------------------------------------------


//----------------  Event Handlers --------------------------------------
/*$().ready(function(){
  $(document).keypress(function(e) {
      switch(e.which) {
        case 32:
            e.preventDefault();
            insert_multiple_char(' ');
            //load_segment("\&nbsp;");

            break;
        case 13:
            e.preventDefault();
            insert_multiple_char('<br>');
            //create_para();
            break;
        case 8:
            e.preventDefault();
            //delete_char();
            break;
        default:
            insert_char( String.fromCharCode(e.which) );
            //load_segment( String.fromCharCode(e.which) );
      }
  });
  $(document).keydown(function(e){
    if(e.which == 8){
      e.preventDefault();
      delete_char();
      //load_line();
    }
  });
  $(document).keyup(function(e){
    if(e.which == 8){
      e.preventDefault();
      delete_char();
      //load_line();
    }
  });
});
*/
// ----------------------------End of Event Handlers ---------------------------
//-------------------------------------------------------------------------------


// ----------------- Display logic -----------------------------------------------
/*
TODO : turn states in load_document and styleIncomming to enum based data structure
*/
var states = {
    waitingForNextWord: 0,
    MOD: 1,
    ADMIN: 2
};

var initialised = false;

//Load Initial document
var load_document = function load_document () {

  //ajax call to populate buffer
  //load_buffer i.e  @load_buffer

  //This is how we do
  for(var i = 0; i < buffer.length; i++){
    //waitForFirstItem ==  to see if we are in new segment and to update the queue called segmentPositions
    //waitingForNextWord ==  if a segment creating char is clicked -- if this val is true will not create new word
    //                    --> basically to see if previous was charachter or space
    // segStyleInit == flag to allow for multiple null values to be stacked next to eachother

    var val = buffer[i];
    new_line_logic(val);

    //depending on type of value in buffer[i] append to editor
    if(val == null){
      //do stylebuffer Logic
      styleIncomming(i);
    }
    else if(val == ' '){
      if(waitingForNextWord == false){
         new_line_segment();
         current_line_segment.append("&nbsp;");
         waitingForNextWord = true;
         segmentPositions.push(i);
      }
      else{
        current_line_segment.append("&nbsp;");
        if(waitForFirstItem == true){
        segmentPositions.push(i);
        waitForFirstItem = false; // this flag is for new para logic
        }
      }
      segStyleInit = true;
    }
    else{
      if(waitingForNextWord == true){     // ( current_line_segment == null || waitingForNextWord == true){}
        new_line_segment();
        segmentPositions.push(i);
        waitingForNextWord = false;
      }
      current_line_segment.append(buffer[i]);
      if(waitForFirstItem == true){
        segmentPositions.push(i);
        waitForFirstItem = false;
      }
      segStyleInit = true;
    }

  }
  //this is bad need a workaround for looping every time
  //some way to switch from segment to segment
  //nothing comes for free
  //splitEndOfStyle();
  //alert("allSegments: " + allSegments.length);
  //alert("segmentPositions: " + segmentPositions.length);
}


// what if null inbetween space and space or letter and letter
var splitEndOfStyle = function splitEndOfStyle(){
    var segPos = null;
    var segStart = null;
    var bufferRemaining = 0;
    var bufferMidIndex  = null;

    //create the array of jQuery objects
    var allSegments = [];
    $(".line-segment").each(function() {
      allSegments.push($(this));
    });


    for(var i = 0; i < endPosOfStyleQueue.length; i++){ // each is a split provided it meets the requirements
      //start if else chain
      var pos = endPosOfStyleQueue[i]; // the start pos of the segment
      //var allSegments = document.getElementsByClassName("line-segment");
      if(buffer[pos] == buffer[pos + 1] && buffer[pos] == ' '){ // if space or space
        //do the spliting operating
        var index = getMatchingSegment(pos); // now we have the segment we want to split segmentPositions[index]

        current_line_segment = allSegments[index]; // until method is over this is the line segment we will be working with
        current_line = current_line_segment.parent();
        segStart = segmentPositions[index];
        bufferMidIndex = pos - segStart;

        if(index == allSegments.length - 1){
          var continueLoop = true;
          var currentIndex = 0;
          while(continueLoop){ // to deal with edge case
            currentIndex = segStart + bufferMidIndex + bufferRemaining;
            if(styleBuffer[currentIndex] == null && buffer[currentIndex] == null){
              continueLoop = false;
            }else{
              bufferRemaining += 1;
            }
          }
        }else{
          bufferRemaining = segmentPositions[index + 1] - segmentPositions[index] - bufferMidIndex; //what if edge case ??
        }
        //Now to do the actual splitting 1 for loop for each half
        if(bufferMidIndex > 0){
          splitSegment(bufferMidIndex, segStart, pos, bufferRemaining);
          //because you split a two spaces
          //remember the load_document function has finished running
          endPosOfStyleQueue.shift();
          //segmentPositions.push(i);
        }
      }else if(buffer[pos] != null && buffer[pos + 1] != null && buffer[pos] != ' ' && buffer[pos + 1] != null){
        // so not null and neither is space: therefore letter and letter
        var pos = endPosOfStyleQueue[i];
        var index = getMatchingSegment(pos); // now we have the segment we want to split segmentPositions[index]
        current_line_segment = allSegments[index]; // until method is over this is the line segment we will be working with
        current_line = current_line_segment.parent();
        segStart = segmentPositions[index]; //start position of each
        bufferMidIndex = pos - segStart;

        if(index == allSegments.length - 1){
          var continueLoop = true;
          var currentIndex = 0;
          while(continueLoop){ // to deal with edge case
            currentIndex = segStart + bufferMidIndex + bufferRemaining;
            if(styleBuffer[currentIndex] == null && buffer[currentIndex] == null){
              continueLoop = false;
            }else{
              bufferRemaining += 1;
            }
          }
        }else{
          bufferRemaining = segmentPositions[index + 1] - segmentPositions[index] - bufferMidIndex; //what if edge case ??
        }
        if(bufferMidIndex > 0){
          splitSegment(bufferMidIndex, segStart, pos, bufferRemaining);
          //because you split a word
          endPosOfStyleQueue.shift(); //does it matter what order these are done in ?
          //segmentPositions.push(i);
        }
      }else{
        //do nothing
      }
    }
}


var splitSegment = function splitSegment (bufferMidIndex, segStart, pos, bufferRemaining) {
// could use the substring method here but it would not be mirroring the underlying data structures
  var tempSeg1 = $("<span class='line-segment'></span>");
  var tempSeg2 = $("<span class='line-segment'></span>");

  //move_multiple_back(current_segment_index);

  //var segmentText = current_line_segment.text().split('');
  for(var i = 0; i < bufferMidIndex; i++){
    tempSeg1.append(buffer[segStart + i]);
  }
  for(var i = 0; i < bufferRemaining; i++){
    tempSeg2.append(buffer[pos + i]);
  }

  var segIndex = current_line_segment.index();

  if(segIndex > current_line.children().length){
    current_line.append(tempSeg1);
    current_line.append(tempSeg2);
  }else if(segIndex < 1){
    current_line.prepend(tempSeg2);
    current_line.prepend(tempSeg1);
  }else{
    current_line.children().eq(segIndex).after(tempSeg1);
    tempSeg2.insertAfter(tempSeg1);
  }

  current_line_segment.remove();
  current_line_segment = tempSeg1;
  current_segment_index = tempSeg1.length;
  //@test
}

var splitSegments = function splitSegment (bufferMidIndex, segStart, pos, bufferRemaining) {
  //buffer and styleBuffer do not need to be modified as these are endings
  //1) remove the segment from dom and replace with two new segments
  //2) update segmentPositions array which stores the beggining of each segment

  // could use the substring method here but it would not be mirroring the underlying data structures
  var tempSeg1 = $("<span class='line-segment'></span>");
  var tempSeg2 = $("<span class='line-segment'></span>");

  for(var x = 0; x < bufferMidIndex; x++){
    tempSeg1.append(buffer[segStart + x]);
  }
  for(var x = 0; x < bufferRemaining; x++){
    tempSeg2.append(buffer[pos + x]);
  }
  //stage 1
  var segIndex = current_line_segment.index();

  current_line_segment.remove();
  if(segIndex > current_line.children().length){
    current_line.append(tempSeg1);
    current_line.append(tempSeg2);
  }else if(segIndex < 1){
    current_line.prepend(tempSeg2);
    current_line.prepend(tempSeg1);
  }else{
    current_line.children().eq(segIndex -1).after(tempSeg1);
    current_line.children().eq(segIndex).after(tempSeg2);
  }
  //tempSeg2.css({'color':'red'});

  //stage 2
  var segPosIndex = segmentPositions.indexOf(segStart); // the position of segment in segment positions NB!:: does not account for empty segments
  segmentPositions.slice(segPosIndex,1, tempSeg2);
  segmentPositions.slice(segPosIndex,0, tempSeg1);
}

//This method takes in i which is the start position of the segment that you want to find
// and returns itt which is the position of the segment in segmentPositions[] and allSegments[]
var getMatchingSegment = function getMatchingSegment (i){
  for(var itt = 0; itt < segmentPositions.length; itt++){
    if(itt != segmentPositions.length -1){ // you are not at the end

      if(segmentPositions[itt] == segmentPositions[itt+1]){
        if(i == segmentPositions[itt]){
          return itt;
        }
      }
      else if(i >= segmentPositions[itt] && i < segmentPositions[itt+1]){
          return itt;
      }
    }else{
       return itt; // you may be wrong but at least you returned something
    }
  }
}


var new_line_logic = function new_line_logic (val) {

    if(current_para != null && current_line != null && current_line_segment != null && val != null){
      if(isLineFull(val)){
        if(val == " "){ //end of previous word
          //create new line
          new_line();
          waitingForNextWord = false;
          //new_line_segment();
        }else if(waitingForNextWord == true){ // currently wating for new word
          new_line();
          //new_line_segment();
        }else if(current_line_segment.text().length > 0){ //in the middle of current segment
            if(current_line_segment.text().charAt(0) != ' '){
              current_line_segment.remove();
              new_line();
              current_line.append(current_line_segment);
            }
        }else if(val == null){
          //do nothing


        }
      }
    }
}


var styleIncomming = function styleIncomming (index) {
  var val = styleBuffer[index];
  var styleS = null;
  var prefix = null;
  try{
    if(styleBuffer[index] != null){
      styleS = styleBuffer[index];
      prefix = styleS.substring(0,2);
    }
  }catch(err){
    console.log("regex is less than two chars length");
  }


  switch(prefix){
    case "pa":
        new_paragraph();
        if(initialised == true){
          if(segStyleInit == true){ // a new line segment needs to be made
            new_line();
            new_line_segment();
          }else{ // theres a line segment to take that was stacked before this para
            current_line_segment.remove();
            new_line();
            current_line.append(current_line_segment);
          }
        }else{
          new_line();
          new_line_segment();
          initialised = true;
          segmentPositions.push(index);
        }
        waitForFirstItem = true; // this flag waits until a letter or space is added to the segment to update it
        segStyleInit = false;

        break;
    case "/#":
          if(segStyleInit == true){ //if first in line of null styles
            new_line_segment();
            waitingForNextWord = false;
            segStyleInit = false;
          }
          endPosOfStyleQueue.push(parseInt(styleS.split(/\|/g)[1]));
          //endPosOfStyleQueue.push(/\#(.*)\|/g.exec(styleS)[2]);
          colorQueue.push(styleBuffer[index]);
        break;
    case "/s":
        if(segStyleInit == true){ //if first in line of null styles
          new_line_segment();
          waitingForNextWord = false;
          segStyleInit = false;
        }
        endPosOfStyleQueue.push(parseInt(styleS.split(/\|/g)[1]));
        //endPosOfStyleQueue.push(/\#(.*)\|/g.exec(styleS)[2]);
        sizeQueue.push(styleBuffer[index]);
        break;
    case "/f":
        if(segStyleInit == true){ //if first in line of null styles
          new_line_segment();
          waitingForNextWord = false;
          segStyleInit = false;
        }
        endPosOfStyleQueue.push(parseInt(styleS.split(/\|/g)[1]));
        //endPosOfStyleQueue.push(/\#(.*)\|/g.exec(styleS)[2]);
        fontQueue.push(styleBuffer[index]);
        break;
    default:
        console.log("Check styleIncomming");
  }
}

//adds new line segment after current line segment
var new_line_segment = function new_line_segment(){
   if(current_line == null){
    new_line();
   }
   var new_line_segment = $("<span class='line-segment'></span>");
   current_line.append(new_line_segment);
   previous_line_segment = current_line_segment;
   current_line_segment =  new_line_segment;

   numOfSegments += 1;
}

//adds new line after current line
var new_line = function new_line () {
  console.log("Um what ?!");
  if(current_para == null){
    new_paragraph();
  }
  var line  =  $("<span class='line'></span>");
  current_para.append(line);
  previous_line = current_line;
  current_line = line;
}

//adds new paragraph after current paragraph
var new_paragraph = function new_paragraph (){
  var new_para = $("<div class='para'></div>");
  if(current_para == null){
    $('#firstPage').append(new_para);
  }
  else{
    new_para.insertAfter(current_para);
  }
  previous_para = current_para;
  current_para = new_para;

  //previous_line = current_line;
  //previous_line_segment = current_line_segment;
  //current_line = null;
  //current_line_segment = null;
}

// ----------------   End of data initialisation -------------------

// ----------------  Beggining of style initialisation -------------
//prefixes
  // /#
  // /s
  // /f
  var load_styles = function load_styles () {
    var allSegments = document.getElementsByClassName("line-segment");
    current_line_segment = null;
    var currSegmentIndex = 0; // stores the current segment index
    var startIndexOfSegment = 0;
    var endIndexOfSegment = 0;
    var styleS = null;
    var prefix = null;
    //how to deal with empty segments ??

    //active style variables
    var current_style_colour = null;
    var color_endPos = null; //[] first val holds a color

    var current_style_size = null;
    var size_endPos = null; //[]

    var current_style_font = null;
    var font_endPos = null; //[]

    var current_style_bold = null;
    var bold_endPos = null; //[]

    var current_style_underline = null;
    var underline_endPos = null; //[]

    var current_style_italic = null;
    var italic_endPos = null; //[]

    //as we go through the styling we encounter new styles we push them in  and need to remember
    // 1) the end of the curr one in the buffer
    // 2) the actual value
    // the inherit orderimplies the order they went into the collection

    var colorMap = [];
    // end of initialisation


    //loop through entire buffer an style
    for(var i = 0; i  < buffer.length; i++){
      // -------------- This logic adds segments to specific line ------
      // -------------- good for bullet point styling etc --------------
      // ----------It also remembers current segment -------------------
      startIndexOfSegment = segmentPositions[currSegmentIndex];

      if(currSegmentIndex < segmentPositions.length){ //you still have enough segments
        endIndexOfSegment = segmentPositions[currSegmentIndex + 1]; // where curr segment ends
        if(i >= endIndexOfSegment){  // if current buffer has exceeded end of segment you are in new current segment
          currSegmentIndex++;
          current_line_segment = allSegments[currSegmentIndex];
        }else{
          current_line_segment = allSegments[currSegmentIndex];
        }
      }
      else{ // we've hit the end of the line
        endIndexOfSegment = buffer.length;
        startIndexOfSegment = segmentPositions[segmentPositions.length];
        current_line_segment = allSegments[allSegments.length];
      }

      //segmentPositions stores start position of all segments
      // ---------------End of logic --------------------------------
      //regex
      // /\|/g
      // /\#(.*?)\|/g;

      if(buffer[i] == null && styleBuffer[i] != null){ //weve found a style key
        var styleS = styleBuffer[i];
        var prefix = styleS.substring(0,2);

        // COLOR STYLE
        if(prefix == '/#'){ // its a colour style
          //color_endPos = parseInt(styleS.split(/\|/g)[1]);
          //current_style_colour = /\#(.*)\|/g.exec(styleS)[1];
          //current_style_colour = '#' + current_style_colour;

          var styleProperties = {
            propertyVal: '#' + (/\#(.*)\|/g.exec(styleS)[1]),
            endPos: parseInt(styleS.split(/\|/g)[1])
          };

          colorMap.unshift(styleProperties);
        }
        //SIZE STYLE
        else if(prefix == '/s'){
          //do font size
        }
        //FONT STYLE
        else if(prefix == '/f'){
          //do font type
        }
      }
      //******
      //*red *
      //*blue*
      //******
      if(colorMap.first() != null){
        if(i > colorMap.first().endPos ){ //by this logic the last number is included in the styling
          colorMap.shift(); //keep popping until we reach endpos that works
          if(colorMap.first() != null && colorMap.first() != undefined){ // its empty
            if(i > colorMap.first().endPos ){ //check if iteration needed [often unlikely]
            var foundViableEndPos = false;
            var endPos = colorMap.first();
              while(!foundViableEndPos){ // now keep shifting until endPos is greater than i
                if(i > colorMap.first().endPos){ //by this logic the last number is included in the styling
                  colorMap.shift();
                  if(colorMap.first() == null || colorMap.first() == undefined){ // its empty
                    foundViableEndPos = true;
                  }else{
                    endPos = colorMap.first();
                  }
                }else{
                  foundViableEndPos = true;
                }
              }
            }else{
              //do nothing
            }
          }else{
            //do nothing
          }
        }


        //we've found a colorStyle to work with. Now add it to the current segment
        if(colorMap.first() != null && colorMap.first() != undefined){ // its empty
          if(i <= colorMap.first().endPos){
            current_line_segment.style.color = colorMap[0].propertyVal;
          }
        }
      }else{
        //console.log("Do nothing: ColorMap is depleted");
      }
    }
  }

  if (!Array.prototype.last){
    Array.prototype.first = function(){
        return this[0];
    };
  };

  //method takes in start pos and end pos of buffer and
  //colors in all segments inBetween
  var colorInSegments = function colorInSegments(startbufferPosition, endBufferPosition){
    //match position to pos in the relevant segment ????
    // numOfSegments
    // segmentPositions [] ---- stores the start pos of each segment

    //
    var allSegments = document.getElementsByClassName("line-segment");
    var currSegment = 0;
    // 67 -- 22 segments
  }

// ------------------- End of Display Loogic ------------------------------------
//-------------------------------------------------------------------------------


//-----------------------------Line Logic --------------------------------------
// [Manager for line logic]
// Background:: Each line is a meta container for line segments that fit within paragraphs
// Function:: Dynamically prepared at runtime/load of document.
// NB do not confuse with [enter --> new paragraph]
// Calls:: 1) Logic is called at the creation of a new line segment to see if full.
//         2) Logic is called in the addition of a letter to the semgment to see if full.
//
var isLineFull = function isLineFull (singleChar) {
  var line_Width = current_line.width();
  if(singleChar == ' '){
    singleChar = '&nbsp;';
  }
  $("#single-width").html(singleChar);
  var additional_Width = $("#single-width").width();
  line_Width +=  additional_Width;

  if(line_Width > $('#firstPage').width()){
    return true;
  }
  else{
    return false;
  }
}


// ------------------- @Debug -----------------------------------------------------
//on any action update debug so i can see the contents of gap
//buffer array
var debug_itt = 0;

var update_debug_info = function update_debug_info(){
  debug_itt += 1;

  var stringInfo = "";
  stringInfo += "            ***** Debug Info ***** &#13;&#10;";
  stringInfo += "&#13;&#10; Instance# = " + debug_itt;
  stringInfo += "&#13;&#10; Curr Buffer Pos = " + gap_start;
  stringInfo += "&#13;&#10; Curr Buffer End = " + gap_end;
  stringInfo += "&#13;&#10; Size of buffer = " + size;
  stringInfo += "&#13;&#10; Previous segment index" + previous_segment_index;
  stringInfo += "&#13;&#10";

  //calculate buffer insert -- should match cursor
  for (var i = 0; i < buffer.length ; i++){
    if(i == gap_start){
      stringInfo += "[*|*]";
    }

    if(buffer[i] == null){

    }
    else{
      stringInfo += buffer[i];
    }
  };


  $('#buffer-info').html(stringInfo);
}

//TESTING purposes
$('#reset-colors').on('click', function(){
  var all_segments = $('.page').find('.line-segment');
  all_segments.each(function(itt){
    $(this).css({'color':'black'});
    $(this).css({'background-color':'white'});
  });
});
// -------------------------End of Debug -----------------------------------------
//-------------------------------------------------------------------------------

// ---------------- Outstanding
//selection logic
//toolbar for styling
//bullet points
//Module integration
// ------------------------------------------------------------------------------


// ------------------------ INPUT -----------------------------------------------
// key mapping
// enter
// backspace
// insert module
// copy paste cut
// highllight *
function Input(){
    this.input_area      = null;
}

Input.prototype = {
    init : function(){
        this.input_area  = $("#editor");
    },
    getTimeCardData : function(){
          //ajax request
    },
    selectAll : function(){
        this.getTimeCardData();
    },
    message : function(){
       alert("Frame Message");
    },
    //eventhandlers
    enterKey : function (e, caps) {
      //alert(e.which + '  -  ' + e.charCode + ' - ' + e.keyCode);
      var char = null;
      //alert('key  ' + e.keyCode + '  ' + e.which + '  ' + e.charCode + '  ' + caps);
      if(e.which != null){
        char = String.fromCharCode(e.which);
        input_insert_char(char);
      }else{
        char= String.fromCharCode(e.keyCode);
        input_insert_char(char);
      }
      //alert(char);
    },
    enterSpecial : function (e) {
      if(e.which == 32 || e.keyCode == 32){ //change to 32
        e.stopImmediatePropagation();
        e.preventDefault();
        add_space();
        current_segment_index += 1;
        update_data_cycle();
      }
      else if(e.which == 8 || e.keyCode == 8){
        e.stopImmediatePropagation();
        e.preventDefault();
        input_delete_char();
      }
      else if(e.which == 13 || e.keyCode == 13){
        e.stopImmediatePropagation();
        e.preventDefault();
        alert("enter was pressed");
      }
      else if(e.which == 9 || e.keyCode == 9){
        e.stopImmediatePropagation();
        e.preventDefault();
        alert("tab was pressed");
      }
      else if(e.which == 46 || e.keyCode == 46){
        e.stopImmediatePropagation();
        e.preventDefault();
        alert("delete was pressed");
      }
      //arrows
      else if(e.which == 37 || e.keyCode == 37){
        e.stopImmediatePropagation();
        e.preventDefault();
        alert("left was pressed");
      }
      else if(e.which == 38 || e.keyCode == 38){
        e.stopImmediatePropagation();
        e.preventDefault();
        alert("up was pressed");
      }
      else if(e.which == 39 || e.keyCode == 39){
        e.stopImmediatePropagation();
        e.preventDefault();
        alert("right was pressed");
      }
      else if(e.which == 40 || e.keyCode == 40){
        e.stopImmediatePropagation();
        e.preventDefault();
        alert("down was pressed");
      }
      // body...
    },
};
//=========================== End of Input ==========================================

//@ FIX HORRIBLY CONVOLUTED IF ELSE LOGIC
var input_insert_char = function input_insert_char(char) {
  //alert(current_segment_index);
  insert_char(char);
  var a = current_line_segment.text();
  var b = char;

  //space logic/////////////////////////////////////////////////////////
  //beggining
  if(current_segment_index == 0 && a.length > 0 && a.charCodeAt(0) == 160){
    complete_till_prev();
    insert_seg_at_before(char);
  }
  else if(current_segment_index > 0 && current_segment_index < a.length && a.charCodeAt(current_segment_index-1) == 160 ){//middle but not two spaces
    /*if(a.charCodeAt(current_segment_index) != 160){
      complete_till_prev();
      insert_seg_at(char);
      alert('exception caught');
    }//middle
    else if(a.charCodeAt(current_segment_index) == 160 ){
      //you are in the middle of two spaces
      //split spaces and insert a new segment
      //alert('this was fired');
      complete_till_prev();
      split_segment_for_space(current_line_segment.text().split(''));
      insert_seg_at(char);
      alert('except caught');
      //alert('all is well');
      //current_line_segment.text([a.slice(0, current_segment_index), b, a.slice(current_segment_index)].join(''));
    } */
    complete_till_prev();
    split_segment_for_space(current_line_segment.text().split(''));
    insert_seg_at(char);
  }else if(a.charCodeAt(current_segment_index-1) == 160){ // prior is a space
    complete_till_prev();
    split_segment_for_space(current_line_segment.text().split(''));
    insert_seg_at(char);
  }else if(a.charCodeAt(current_segment_index) == 160){
    complete_till_prev();
    split_segment_for_space(current_line_segment.text().split(''));
    insert_seg_at(char);
  }

  ///////////////////////////////////////////////////////////////////////
  else{//insert char at focused postion
    //alert('did this fire');
    current_line_segment.text([a.slice(0, current_segment_index), b, a.slice(current_segment_index)].join(''));
  }
  move_cursor_right(char);
  current_segment_index += 1;
  update_data_cycle();
}


var input_delete_char = function input_delete_char() {
  back_space();
  update_data_cycle();
}

//#ready
//document ready p:2 ..... awaiting merge
$(document).ready(function(){
  var input  = new Input();
  input.init();
  var cursor_is_on = true; // for the flash
  var editor_active = false;
  trumps_border_control_off();

  //Constants for key Logic

  //Event Propogation == bubbling
  //*********************************************************************************
  function trumps_border_control_on(){
    input.input_area.css({'border-color':'#2266ff'});
  }

  function trumps_border_control_off(){
    input.input_area.css({'border-style':'solid'});
    input.input_area.css({'border-color':'#ffffff'});
    input.input_area.css({'border-size':'0.2px'});
  }

  function wake_editor(){
    if(editor_active){
    }else{
      trumps_border_control_on();
      editor_active = true;
    }
  }

  //Might not work if scrollbar is enabled
  function find_cursor_loc(e){
    var x = e.pageX;
    var y = e.pageY;
    var binding_line = null;
    //alert(y);

    //change to split and check according to quarters eights 16ths
    //dependant on line number
    $( ".line" ).each(function( index ) {
      //alert('top: ' + $(this).offset().top + '  bottom: ' + ($(this).offset().top + $(this).height()) );

      if(binding_line == null){
        binding_line = $(this);
      }
      var rect = $(this)[0].getBoundingClientRect();

      //if line bottom is less than y
      if($(this).offset().top + $(this).height() < y){ //adjust with offests
        //if line bottom is greater than previous bottom
        if(rect.bottom > (binding_line.position().top + binding_line.height()) ){
          binding_line = $(this);
        }
      }
      //if line top is less than y but line bottom is greater than y
      if($(this).offset().top < y && ($(this).offset().top + $(this).height())  > y ){
          binding_line = $(this);
          return false;
      }
      if( $(this).offset().top > y && ($(this).offset().top + $(this).height())  > y ){
        return false;
      }
    });

    //Have to map out the above line-segment
    //now move cursor to the end
    //current_line = binding_line;
    current_line = binding_line;
    e.pageY = binding_line.offset().top + (binding_line.height()/2); //adjust to centre of line
    var enclosed_segments =  binding_line.children().toArray(); //just to check that array is not empty
    var line_segment_ref = null;

    binding_line.children('.line-segment').each(function(index){
      if(enclosed_segments.length == 0 || enclosed_segments == null){
      //create a segment for the current line
      }
      else{
        if(line_segment_ref ==null){
          line_segment_ref = $(this);
        }
        if($(this).offset().left < x){
            line_segment_ref = $(this);
            //debug
        }
        else if($(this).offset.left > x){
            return false;
        }
      }
    });

    current_line_segment = line_segment_ref;
    if(line_segment_ref.offset().left < x && (line_segment_ref.offset().left + line_segment_ref.width() ) > x ){
      //do nothing
      //once i know the line segment -> call cursor functions
      current_segment_index = jump_cursor_in_segment(e);
      click_cursor(current_segment_index);
    }else if(x > line_segment_ref.offset().left && x > line_segment_ref.offset().left + line_segment_ref.width() ){
      e.pageX = line_segment_ref.offset().left + line_segment_ref.width() - 0.01;
      //adjust this for all browsers and for font
      current_segment_index = jump_cursor_in_segment(e);
      click_cursor(current_segment_index);
    }
  }

  //page
  $(document).on('click', function(e){
    //alert("document");
    trumps_border_control_off();
    editor_active = false;

    cursor_off();
    cursor_active = false;
  });

  //editor
  $("#editor").on('click', function(e){
    e.stopImmediatePropagation();
    wake_editor();

    cursor_off();
    cursor_active = false;
  });

  $("#editor").on('click', '.page',function(e){
    wake_editor();
    find_cursor_loc(e);
    update_debug_info();
    e.stopImmediatePropagation();

    cursor_on();
    cursor_active = true;
  });

  //module
  $("#editor").on('click', '.module', function(e){
    e.stopImmediatePropagation();
    wake_editor();
  });

  //tabbed spacing
  $("#editor").on('click', '.tabbed', function(e){
    e.stopImmediatePropagation();
    wake_editor();
  });

  //line-segment
  $("#editor").on('click', '.line-segment', function(e){
    e.stopImmediatePropagation();
    wake_editor();
    current_line_segment = $(this);
    current_segment_index = jump_cursor_in_segment(e);

    if(check_edge_cases()){
      click_cursor(current_segment_index);
    }

    cursor_on();
    cursor_active = true;

    //@test
    //copy_style();
    //update_css_buffer();
    //alert(current_line_segment.text().charCodeAt(current_segment_index-1));
    //alert('index: ' + current_segment_ia
    //alert('csi:: ' + current_segment_index);
  });
//mmf ---> *      -----> *
//mmb * <----         * <----

  var check_edge_cases = function check_edge_cases () {
    var edge_flag = true;
    current_line = current_line_segment.parent();
    current_para = current_line.parent();
    //logic to ensure segment is focused on word <--
    //does it need a move_till_prev?
    var index_of_seg = current_line_segment.index();
    //if u are at begginging and there is a space in front of you
    if(current_segment_index == 0 && current_line_segment.text().charCodeAt(0) == 160 && index_of_seg > 0 ){
      current_line_segment = current_line_segment.prev();
      current_segment_index = current_line_segment.text().length;
      click_cursor(current_segment_index);
      complete_till_prev();
      //move_till_prev();
      edge_flag  = false;
      //alert('edge case 1 fired');
    }//you've clicked at the beggining of a new para
     else if(index_of_seg == 0 && current_line.index() != 0 && current_segment_index == 0){
      click_cursor(current_segment_index);
      complete_till_next();
      edge_flag  = false;
      //alert('edge case 2 fired');
    }//you've clicked at the beggining of a new para
    else if(index_of_seg == 0 && current_line.index() == 0 && current_segment_index == 0){
      click_cursor(current_segment_index);
      complete_till_next();
      edge_flag  = false;
      //alert('edge case 3 fired');
    }
    //you've clicked at the begginging of segment at the beggining of the 1st line
    else if(index_of_seg == 0 && current_segment_index == 0 && current_line && current_line.index() == 0){
      //if the only segment in para
      //common in new paras where the will be an inital empty segment
      if(current_line.children().length <= 1){
        //enable flag for the move multiple back function
        click_cursor(current_segment_index);
        edge_flag = false;
      }
    }
    /*else if(current_segment_index < current_line_segment.text().length && current_segment_index > 0){
      //Youre surrounded by spaces ---> Put Yur Hands up
      if(current_line_segment.text().charCodeAt(current_segment_index) == 160 && current_line_segment.text().charCodeAt(current_segment_index - 1) == 160){

      }
    }*/
  return edge_flag;
  }

  var left_margin_align_line = function left_margin_align_line (argument) {
    alert('testing 2');
  }

  var left_margin_align_para = function left_margin_align_para (argument) {
      alert('testing');
  }

//creates a new paragraph with an empty segment initialised
//text is appended to this segment
  var enter_para = function enter_para () {
    // body...
  }

  //for a click not on line segement but still on editor
  //cursor functionality
  //make sure cursor is on (i.e document active before commiting text)
  cursor_flash = function cursor_flash () {
      if(cursor_is_on == true)
      {
        cursor_off();
      }
      else if (cursor_is_on == false)
      {
        cursor_on();
      }
  }

  var cursor_off = function cursor_off (){
    visual_cursor.css({'visibility':'hidden'});
    cursor_is_on = false;
  }
  var cursor_on = function cursor_on (){
    visual_cursor.css({'visibility':'visible'});
    cursor_is_on = true;
  }

  var caps = false;
  //keypress event
  $(document).on('keydown', input.input_area, function(e) {
    if(cursor_active){
      input.enterSpecial(e);
    }
  });

  $(document).on('keypress', input.input_area, function(e){
    if(cursor_active == true && e.charCode != 0){
      if((e.keyCode >= 65 && e.keyCode <= 90) || (e.which >= 65 && e.which <= 90) ){
        //alert("we got in");
        input.enterKey( e, false);
      }
      else if((e.keyCode >= 97 && e.keyCode <= 122) || (e.which >= 97 && e.which <= 122) ){
        //alert("we got in in");
        input.enterKey( e, true);
      }
    }
  })

  function styling_change_detected(){
    //sets current buffer[i] pos to null and updates stylebuffer
  }


  var browser_detection_script = function browser_detection_script () {
  //Author:: Kennebec from stack overlow
  //body...
    var ua= navigator.userAgent, tem,
    M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
    if(/trident/i.test(M[1])){
        tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
        return 'IE '+(tem[1] || '');
    }
    if(M[1]=== 'Chrome'){
        tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
        if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
    }
    M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
    if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
    return M.join(' ');
  }
});


//author: rajesh pilai
function isCapslock(e){

    e = (e) ? e : window.event;

    var charCode = false;
    if (e.which) {
        charCode = e.which;
    } else if (e.keyCode) {
        charCode = e.keyCode;
    }
    var shifton = false;
    if (e.shiftKey) {
        shifton = e.shiftKey;
    } else if (e.modifiers) {
        shifton = !!(e.modifiers & 4);
    }
    if (charCode >= 97 && charCode <= 122 && shifton) {
        return true;
    }
    if (charCode >= 65 && charCode <= 90 && !shifton) {
        return true;
    }
    return false;
}

//-----------------------------INITIALISATION----------------------------------------
var setUpVariables = function setUpVariables () { //manipulation logic initialisation
  previous_line_segment = $(".page div:eq(0) span:eq(0) span:eq(0)"); //0
  previous_line = $(".page div:eq(0)  span:eq(0)"); // 0
  previous_para = $(".page div:eq(0)"); // 0
  previous_segment_index = 0; // 0
  //position the actual gap buffer at the correct area
  //for now hardcoded
  //gap_start = 0;
  //gap_end = 1000 - 72;
  initialise_gap_buffer();

  //keep moving until at beggining of fist para
   while(buffer[size - gap_end + 1] == null && gap_end > 1){
      //double nulls ??
      //are inherently handled as they should not be between a -> b
      move_gap_forward();
  }
}

var initialise_gap_buffer = function initialise_gap_buffer () {
  //function will move back from the end until it reaches the beggining
  //need to determine size of the gap_buffer
  var itt = 0;
  for(var i = (size-1); i >= 0; i--){
    if(buffer[i] == null && styleBuffer[i] == null){
      gap_start = i;
    }
    else{
      break;
    }
  }
  //alert(size - gap_end);
  align_initial_gap_buffer();
}

var align_initial_gap_buffer = function align_initial_gap_buffer () {
  while(gap_start > 0){
    move_gap_back();
  }
  move_gap_back();
}

var destroyUsedData = function destroyUsedData() {
  // destroy objects like segmentpositions that take up too much memory in runtime
}

//=====================================================================================
$(document).on('click', '#reset-debug' , function(e){

});

$(document).on('click', '#show-styleBuffer', function(e){
});

var update_data_debug_2 = function update_data_debug_2 () {
  var data_string = '';
  for(var i = 0; i < size; i++){
    data_string += styleBuffer[i] + '<br/>';
  }
  $('#debug-data').html(data_string);
}

var update_data_debug = function update_data_debug () {
  var data_string = '';
  for(var i = 0; i < size; i++){
    if(buffer[i] == null){
      if(styleBuffer[i] != null){
        data_string += i + '+<br/>';
      }else{
        data_string += i + '*<br/>';
      }
    }
    else{
      data_string += i + ': ' + buffer[i] + '<br/>';
    }
    if(gap_start == i){
      data_string += i + '[*]<br/>';
    }
  }
  $('#debug-data').html(data_string);
}

//----------------------- File Manipulation ---------------------------------------
var asyncOptimisation = function asyncOptimisation (argument) {
  // will go through whole data structure and check that there arnt overlapping styles
  // join multiple spacing etc
}

var asyncSave = function asyncSave (argument) {
  // body...
}

// ====================== End of file Manipulation ===================================
</script>

{% endblock %}
