<div id='supplygroupscontainer'>
<div class='group'  id='group1'>1</div>
<div class='group'  id='group2'>1</div>
<div class='group'  id='group3'>1</div>
<div class='group'  id='group4'>1</div>
<div class='group'  id='group5'>1</div>
</div>
