{% extends "navibar/base.html" %}
{% block title %}proto1{% endblock %}

{% block content %}
{% load static %}
<div id="prezi-holder"></div>
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/editor.css" %}"/>
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/toolbox.css" %}"/>
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/basic.css" %}"/>
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/index.css" %}"/>
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/spectrum.css" %}"/>
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/chart.css" %}"/>
<link rel="stylesheet" type="text/css" href=" {% static "consumer/css/jquery-ui.min.css" %}"/>

<link rel="stylesheet" type="text/css" href="http://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.css">
<link rel="stylesheet" type="text/css" href="http://handsontable.com/static/css/main.css">


<script src=" {% static "consumer/javascripts/jquery-2.2.0.js" %}"></script>
<script src=" {% static "consumer/javascripts/jquery-ui.min.js" %}"></script>
<script src=" {% static "consumer/javascripts/editorProto1.js" %}"></script>
<script src=" {% static "consumer/javascripts/toolbox.js" %}"></script>
<script src=" {% static "consumer/javascripts/moduleloader.js" %}"></script>
<script src=" {% static "consumer/javascripts/modulemanipulation.js" %}"></script>
<script src=" {% static "consumer/javascripts/tester.js" %}"></script>
<script src=" {% static "consumer/javascripts/spectrum.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
<script src=" {% static "consumer/javascripts/bar.js" %}"></script>
<script src="http://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.js"></script>
<!--<script src=" {% static "consumer/javascripts/chartinglogic.js" %}"></script> -->
<input type="filepicker" data-fp-apikey="ATyoitAIhQeCpUSu4P6ZCz" onchange="alert(event.fpfile.url)">

<iframe id="file-manager"></iframe>
<div id="side-panel-main"></div>

<script>
  filepicker.setKey("ATyoitAIhQeCpUSu4P6ZCz");
  filepicker.pick(
  {
    container: 'file-manager',
    services: ['COMPUTER', 'FACEBOOK', 'INSTAGRAM', 'GOOGLE_DRIVE', 'DROPBOX', 'BOX']
  },
  function(Blob){

    var fileData = JSON.stringify(Blob);
    parsedJson = JSON.parse(fileData);

    $.ajax({
          type: "GET",
          cache: false,
          data:{
            'file': parsedJson.url,
          },
          url: "/filemanager/",
           success: function(data) {
             alert("The file data is  . " + data);
           }
       });

  },
  function(FPError){
    console.log(FPError.toString());
  });

</script>


<div id="module-launcher"></div>
      <!-- Main toolbox -->
        <div class='toolbox' id="toolbox-container-main">
          <div class="toolbox-outer-container">
          <div class="inner-container">

            <img class="tool-item logo" src="{% static "consumer/images/t.png" %}"></img>

            <div class="tool-item font-stuff">
                <nav id="primary_nav_wrap">
                  <ul>
                    <li><a href="#">Size</a>
                    <ul class="dropdown-inner">
                      <li><a href="#">10</a></li>
                      <li><a href="#">11</a></li>
                      <li><a href="#">12</a></li>
                      <li><a href="#">14</a></li>
                      <li><a href="#">16</a></li>
                      <li><a href="#">18</a></li>
                    </ul>
                  </li>
                </uvl>
              </nav>
              <nav id="primary_nav_wrap">
                <ul>
                  <li><a href="#">Family</a>
                  <ul class="dropdown-inner">
                    <li><a href="#">Times</a></li>
                    <li><a href="#">Ariel</a></li>
                    <li><a href="#">Goofy</a></li>
                  </ul>
                </li>
              </uvl>
            </nav>
          </div>

          <div class="tool-item alignment-operator">
            <div class="make4 make-bold"><img class="in-box" src="{% static "consumer/images/all.png" %}"></img></div>
            <div class="make4 make-italic"><img class="in-box" src="{% static "consumer/images/alr.png" %}"></img></div>
            <div class="make4 make-underline"><img class="in-box" src="{% static "consumer/images/alc.png" %}"></img></div>
            <div class="make4 make-strike-thru"><img class="in-box" src="{% static "consumer/images/tab.png" %}"></img></div>
          </div>

            <div class="tool-item color-panel">
              <input id='html5colorpicker' style='width:7px; height:7px;' onchange='changeColorFont(this)' value='#ff0000'  type='color'>
            </div>

            <div class="tool-item meta-style">
              <div class="make4 make-bold"><img class="in-box" src="{% static "consumer/images/bold.png" %}"></img></div>
              <div class="make4 make-italic"><img class="in-box" src="{% static "consumer/images/italic.png" %}"></img></div>
              <div class="make4 make-underline"><img class="in-box" src="{% static "consumer/images/under.png" %}"></img></div>
              <div class="make4 make-strike-thru"><img class="in-box" src="{% static "consumer/images/st.png" %}"></img></div>
            </div>

            <div class="tool-item make-hyperlink">
              <img class="full-img" src="{% static "consumer/images/linker.png" %}"></img>
            </div>

            <div class="tool-item moduleChoice">
              <img class="full-img" src="{% static "consumer/images/moduleOpt.png" %}"></img>
            </div>

            <div class="options"></div>

            <div class="full-block ">
              <div class="img-container"><img class="in-box" src="{% static "consumer/images/highlight.png" %}"></img></div>
            </div>
          </div>
          </div>
        </div>

    <script>
    //Test
    /*
     var isselecting = false;
     var selectedText;
     var clicks = 0;
     var hasSelected = false;

    $(document).on('mouseover', '.line-segment', function(){
       if(isselecting == true){
         $(this).css({'background-color':'cyan'});
         $(this).addClass('selected');
      }
     });

     $(document).on('mousedown','.line-segment', function(){
       isselecting = true;
     });

    $(document).on('mouseup' , function(){
      selectedText = $(".line-segment.selected").text();
      isselecting = false;
      hasSelected = true;
    });

    //span edit css
    $('.page').click(function() {
      if (hasSelected == true){
        clicks = clicks + 1;
        if (clicks ==2){
          $(".line-segment").css({'background-color':'white'});
          $("line-segment").removeClass("selected");
          selectedText = "";
          hasSelected = false;
          clicks=0;
        }
      }
    });

    */

    //End of test




    $(document).on('click', '.deck', function(){
        current_para = null;
        current_line = null;
        current_line_segment = null;
        editor_active = false;
        cursor_active = false;
    });

    $(document).on('click', '.moduleChoice',function(){
      split_segment_for_space(current_line_segment.text().split(''));
      insert_module_container();
    });

    $(document).ready(function(){

      $.ajax({
            type: "GET",
            cache: false,
            url: "/filemanager/",
             success: function(data) {
               $("#firstPage").html(data);
             }
         });
    });



    function SetVolume(val){
        player.setVolume(val);
        //player.seekTo(val, true)
    }

    function SeekTo(val){
        //player.setVolume(val);
        player.seekTo(val, true)
    }

    $("#seek-control").on('mousedown', function(e) {
      player.pauseVideo();
    });

    $("#seek-control").on('mouseup', function(e) {
      player.playVideo();
    });

    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'e-Ho7IwupxI',
          events: {
            'onReady': onPlayerReady
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        //event.target.playVideo();
      }

      $(document).on('click', '.toolbox', function(){
        //player.setVolume(15);
      });
</script>

<div id='single-width' class='check-width'></div>
<div id='multi-width' class='check-width'></div>
<div id='editor' class='editor-view'>
  <div id='firstPage' class='page'>
  </div>
</div>

<div class='cursor'></div>

<div id='debug-data'></div>

<div id='dev-buttons'>
  <button id='reset-debug'>Buffer Data</button>
  <button id='show-styleBuffer'>StyleBuffer Data</button>
</div>

<div id="realtime-debugger"></div>


<div id="module-checker"></div>

<div id="module-options">
  <div id="module-options-list">
      <ul id="module-list" width="100%">
      </ul>
  </div>
</div>

<div id="overlay">
</div>

<script type="text/javascript">


$('#module-options').on( 'mousewheel DOMMouseScroll', function (e) {

var e0 = e.originalEvent;
var delta = e0.wheelDelta || -e0.detail;

this.scrollTop += ( delta < 0 ? 1 : -1 ) * 30;
e.preventDefault();
});

  var find_cursor_loc;
  var selectedmod = "main";
  var name =  "MrMittens948";
  var postid = "831190898398617602";
  var active_span = false;
  var size = 200; //article length
  var buffer = new Array(size);
  //text inserts happen at gap_start index as well as deletes
  var gap_start = 0;
  var gap_end = 1;
  var chr = null;
  var visual_cursor = $(".cursor");
  var current_para = null;//$(".page div:eq(0)");
  var current_line = null;//$(".page div:eq(0) span:eq(0)");
  var current_line_segment = null;//$(".page div:eq(2) span:eq(0) span:eq(5)");
  var previous_line_segment = $(".page div:eq(0) span:eq(0) span:eq(0)");
  var previous_line = $(".page div:eq(0)  span:eq(0)");
  var previous_para = $(".page div:eq(0)");
  var previous_segment_index = 0;
  // initialising logic

  /* Prototype --- Style logic */
  var styleBuffer = new Array(size);
  var itemUrlArr = [];
  var numOfSegments = 0;
  var segmentPositions = [];
  var waitForFirstItem = false;

  // vars for styling logic
  var waitingForNextWord = false;

  var current_colour = null;
  var current_font = null;
  var current_font_size = null;

  //the style queues
  var colorQueue = [];
  var fontQueue = [];
  var sizeQueue = [];
  var boldQueue = [];
  var italicQueue = [];
  var underQueue = [];
  var segStyleInit = true;
  var endPosOfStyleQueue = [];
  var cursor_flash = null;

  var cursor_active = false;

  var current_segment_index = null;

  var input  = new Input();
  var cursor_is_on = true; // for the flash
  var editor_active = false;

  var states = {
      waitingForNextWord: 0,
      MOD: 1,
      ADMIN: 2
  };

  var initialised = false;
  var mod_is_targeted = false;

  buffer[0] = null;
  buffer[1] = null;
  buffer[2] = 'e';
  buffer[3] = 'l';
  buffer[4] = 'l';
  buffer[5] = 'o';
  buffer[6] = ' ';
  buffer[7] = ' ';
  buffer[8] = 'W';
  buffer[9] = 'o';
  buffer[10] = 'r';
  buffer[11] = 'l';
  buffer[12] = 'd';
  buffer[13] = ' ';
  buffer[14] = null; //null //ERROR Both visual and data
                            //Visual. Cusror cuts o in half
                            //Data. Data registers an extra move forward when null
  buffer[15] = 'H';
  buffer[16] = 'o';
  buffer[17] = 'w';
  buffer[18] = ' '; //null //ERROR      // Proposed Idea::
  buffer[19] = 'i';                     // Styles are stored in buffers AT ALL TIMES
  buffer[20] = 't';                     // SEGMENTING A Block of styles -- the s
  buffer[21] = ' ';                     // How will i asynchronous save ?
  buffer[22] = 'T';
  buffer[23] = 'T';
  buffer[24] = 'T';
  buffer[25] = 'T';
  buffer[26] = 'T';
  buffer[27] = 'T';
  buffer[28] = 'T';
  buffer[29] = 'T';
  buffer[30] = 'T';
  buffer[31] = 'T';
  buffer[32] = 'T';
  buffer[33] = 'T';
  buffer[34] = ' ';
  buffer[35] = ' ';
  buffer[36] = ' ';
  buffer[37] = ' ';
  buffer[38] = 'T';
  buffer[39] = 'T';
  buffer[40] = 'T';
  buffer[41] = 'T';
  buffer[42] = 'T';
  buffer[43] = 'T';
  buffer[44] = 'T';
  buffer[45] = ' ';
  buffer[46] = 'T';
  buffer[47] = 'T';
  buffer[48] = 'T';
  buffer[49] = 'T';
  buffer[50] = ' ';
  buffer[51] = 'T';
  buffer[52] = null; //colour
  buffer[53] = null; //para
  buffer[54] = 'x';
  buffer[55] = 'x';
  buffer[56] = 'x';
  buffer[57] = null; //colour-2
  buffer[58] = 'T';
  buffer[59] = 'T';
  buffer[60] = ' ';
  buffer[61] = 'x';
  buffer[62] = 'x';
  buffer[63] = null;
  buffer[64] = ' ';
  buffer[65] = 'T';
  buffer[66] = 'T'; //colour -2
  buffer[67] = 'T';
  buffer[68] = ' ';
  buffer[69] = 'A';
  buffer[70] = ' ';
  buffer[71] = 'B'; //colour

  styleBuffer[0] = 'para';
  styleBuffer[1] = '/#aaee44|13'; //serious bug ....works if at 13
  styleBuffer[14] = '/#ff1166|49';""
  styleBuffer[18] = '/#ff00ff|49';
  styleBuffer[52] = '/#ff0000|67'; //#55ffaa/66
  styleBuffer[53] = 'para';
  styleBuffer[57] = '/#0000ff|63'; //#11ff11/57
  styleBuffer[63] = 'f16'; //f16/63

$(document).ready(function(){
  $('.draggable').resizable();

  $("#editor").on('click', '*', function() {
      $("#module-options-list").css({"visibility":"hidden"});
  });

//------------- DRAAG -----------------------
// target elements with the "draggable" class

//---------------------------REsise ----------------------------

  load_document();
  splitEndOfStyle();
  load_styles();
  setUpVariables();
  destroyUsedData();
  setInterval(function(){
      if(cursor_active){
        cursor_flash();
      }
   }, 550);

  setInterval(function(){
        update_data_debug();
   }, 700);

  wipe_css();


 // ---
 input.init();
 trumps_border_control_off();

  //Constants for key Logic

  //Event Propogation == bubbling
  //*********************************************************************************
  function trumps_border_control_on(){
    input.input_area.css({'border-color':'#2266ff'});
  }

  function trumps_border_control_off(){
    input.input_area.css({'border-style':'solid'});
    input.input_area.css({'border-color':'#ffffff'});
    input.input_area.css({'border-size':'0.2px'});
  }

  function wake_editor(){
    if(editor_active){
    }else{
      trumps_border_control_on();
      editor_active = true;
    }
  }

  //Might not work if scrollbar is enabled
find_cursor_loc =  function find_cursor_loc(e){
    var x = e.pageX;
    var y = e.pageY;
    var binding_line = null;
    //alert(y);

    //change to split and check according to quarters eights 16ths
    //dependant on line number
    $( ".line" ).each(function( index ) {
      //alert('top: ' + $(this).offset().top + '  bottom: ' + ($(this).offset().top + $(this).height()) );
      if(binding_line == null){
        binding_line = $(this);
      }
      var rect = $(this)[0].getBoundingClientRect();

      //if line bottom is less than y
      if($(this).offset().top + $(this).height() < y){ //adjust with offests
        //if line bottom is greater than previous bottom
        if(rect.bottom > (binding_line.position().top + binding_line.height()) ){
          binding_line = $(this);
        }
      }
      //if line top is less than y but line bottom is greater than y
      if($(this).offset().top < y && ($(this).offset().top + $(this).height())  > y ){
          binding_line = $(this);
          return false;
      }
      if( $(this).offset().top > y && ($(this).offset().top + $(this).height())  > y ){
        return false;
      }
    });

    //Have to map out the above line-segment
    //now move cursor to the end
    //current_line = binding_line;
    current_line = binding_line;
    e.pageY = binding_line.offset().top + (binding_line.height()/2); //adjust to centre of line
    var enclosed_segments =  binding_line.children().toArray(); //just to check that array is not empty
    var line_segment_ref = null;

    binding_line.children('.line-segment').each(function(index){
      if(enclosed_segments.length == 0 || enclosed_segments == null){
      //create a segment for the current line
      }
      else{
        if(line_segment_ref ==null){
          line_segment_ref = $(this);
        }
        if($(this).offset().left < x){
            line_segment_ref = $(this);
            //debug
        }
        else if($(this).offset.left > x){
            return false;
        }
      }
    });

    current_line_segment = line_segment_ref;
    if(line_segment_ref.offset().left < x && (line_segment_ref.offset().left + line_segment_ref.width() ) > x ){
      //do nothing
      //once i know the line segment -> call cursor functions
      current_segment_index = jump_cursor_in_segment(e);
      click_cursor(current_segment_index);
    }else if(x > line_segment_ref.offset().left && x > line_segment_ref.offset().left + line_segment_ref.width() ){
      e.pageX = line_segment_ref.offset().left + line_segment_ref.width() - 0.01;
      //adjust this for all browsers and for font
      current_segment_index = jump_cursor_in_segment(e);
      click_cursor(current_segment_index);
    }
  }



  //page
  $(document).on('click', function(e){
    //alert("document");
    trumps_border_control_off();
    editor_active = false;

    cursor_off();
    cursor_active = false;

  });

  //editor
  $("#editor").on('click', function(e){
    e.stopImmediatePropagation();
    wake_editor();
    cursor_off();
    cursor_active = false;
  });

  $("#editor").on('click', '.page',function(e){
    wake_editor();
    find_cursor_loc(e);
    update_debug_info();
    e.stopImmediatePropagation();

    cursor_on();
    cursor_active = true;

  });

  //module
  $("#editor").on('click', '.module', function(e){
    mod_is_targeted = true;
    e.stopImmediatePropagation();
    wake_editor();
    var mod_left_mov = $(this).offset().left + $(this).outerWidth();
    $('.cursor').css({"left": mod_left_mov+ "px"});
    if($(this).next().index() != -1){

    }else{
      current_line_segment = $(this).next();
      current_segment_index = 0;
      update_data_cycle();
    }

    stop_writing = true;

  });

  //tabbed spacing
  $("#editor").on('click', '.tabbed', function(e){
    e.stopImmediatePropagation();
    wake_editor();

  });

  //line-segment
  $("#editor").on('click', '.line-segment', function(e){
    mod_is_targeted = false;
    e.stopImmediatePropagation();
    wake_editor();
    current_line_segment = $(this);
    current_segment_index = jump_cursor_in_segment(e);
    stop_writing = false;
    if(check_edge_cases()){
      click_cursor(current_segment_index);
    }
    cursor_on();
    cursor_active = true;

    if(selectedmod == "main"){

    }else{
      selectedmod = "main";
      load_toolbox(selectedmod);
    }


    //@test
    //copy_style();
    //update_css_buffer();
    //alert(current_line_segment.text().charCodeAt(current_segment_index-1));
    //alert('index: ' + current_segment_ia
    //alert('csi:: ' + current_segment_in   dex);
  });
//mmf ---> *      -----> *
//mmb * <----         * <----

  var check_edge_cases = function check_edge_cases () {
    var edge_flag = true;
    current_line = current_line_segment.parent();
    current_para = current_line.parent();
    //logic to ensure segment is focused on word <--
    //does it need a move_till_prev?
    var index_of_seg = current_line_segment.index();
    //if u are at begginging and there is a space in front of you
    if(current_segment_index == 0 && current_line_segment.text().charCodeAt(0) == 160 && index_of_seg > 0 ){
      current_line_segment = current_line_segment.prev();
      current_segment_index = current_line_segment.text().length;
      click_cursor(current_segment_index);
      complete_till_prev();
      //move_till_prev();
      edge_flag  = false;
      //alert('edge case 1 fired');
    }//you've clicked at the beggining of a new para
     else if(index_of_seg == 0 && current_line.index() != 0 && current_segment_index == 0){
      click_cursor(current_segment_index);
      complete_till_next();
      edge_flag  = false;
      //alert('edge case 2 fired');
    }//you've clicked at the beggining of a new para
    else if(index_of_seg == 0 && current_line.index() == 0 && current_segment_index == 0){
      click_cursor(current_segment_index);
      complete_till_next();
      edge_flag  = false;
      //alert('edge case 3 fired');
    }
    //you've clicked at the begginging of segment at the beggining of the 1st line
    else if(index_of_seg == 0 && current_segment_index == 0 && current_line && current_line.index() == 0){
      //if the only segment in para
      //common in new paras where the will be an inital empty segment
      if(current_line.children().length <= 1){
        //enable flag for the move multiple back function
        click_cursor(current_segment_index);
        edge_flag = false;
      }
    }
    /*else if(current_segment_index < current_line_segment.text().length && current_segment_index > 0){
      //Youre surrounded by spaces ---> Put Yur Hands up
      if(current_line_segment.text().charCodeAt(current_segment_index) == 160 && current_line_segment.text().charCodeAt(current_segment_index - 1) == 160){

      }
    }*/
  return edge_flag;
  }

  var left_margin_align_line = function left_margin_align_line (argument) {
    alert('testing 2');
  }

  var left_margin_align_para = function left_margin_align_para (argument) {
      alert('testing');
  }

//creates a new paragraph with an empty segment initialised
//text is appended to this segment
  var enter_para = function enter_para () {
    // body...
  }

  //for a click not on line segement but still on editor
  //cursor functionality
  //make sure cursor is on (i.e document active before commiting text)
  cursor_flash = function cursor_flash () {
      if(cursor_is_on == true)
      {
        cursor_off();
      }
      else if (cursor_is_on == false)
      {
        cursor_on();
      }
  }

  var cursor_off = function cursor_off (){
    visual_cursor.css({'visibility':'hidden'});
    cursor_is_on = false;
  }
  var cursor_on = function cursor_on (){
    visual_cursor.css({'visibility':'visible'});
    cursor_is_on = true;
  }

  var caps = false;
  var stop_writing = false;

  //keypress event
  $(document).on('keydown', input.input_area, function(e) {
    if(cursor_active && stop_writing == false){
      //alert("special case");
      input.enterSpecial(e);
    }
  });

  $(document).on('keypress', input.input_area, function(e){
    if(cursor_active == true && e.charCode != 0 && stop_writing == false){
      if((e.keyCode >= 65 && e.keyCode <= 90) || (e.which >= 65 && e.which <= 90) ){
        //alert("we got in");
        input.enterKey( e, false);
      }
      else if((e.keyCode >= 97 && e.keyCode <= 122) || (e.which >= 97 && e.which <= 122) ){
        //alert("we got in in");

        input.enterKey( e, true);
      }
    }
  })

  function styling_change_detected(){
    //sets current buffer[i] pos to null and updates stylebuffer
  }

  var browser_detection_script = function browser_detection_script () {
  //Author:: Kennebec from stack overlow
  //body...
    var ua= navigator.userAgent, tem,
    M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
    if(/trident/i.test(M[1])){
        tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
        return 'IE '+(tem[1] || '');
    }
    if(M[1]=== 'Chrome'){
        tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
        if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
    }
    M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
    if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
    return M.join(' ');
  }
});

</script>



</body>
</html>

{% endblock %}
