<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strand</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static "navibar/css/main.css" %}"/>
    <!--<script src=" {% static "oiv/javascripts/modules.js" %}"></script> -->


</head>
<body>

  <!--<div id="dragger"></div> -->

  <div id="full-view">

      <div id="header">

          {% if request.user.is_authenticated %}
          <div class="menu">
            <ul>
              <li {% if section == "navbardev" %}class="selected"{% endif %}>
                 <a href="{% url "consumer:dashboard" %}">dashboard</a>
              </li>
              <li {% if section == "proto1" %}class="selected"{% endif %}>
                 <a href="{% url "consumer:proto1" %}">dashboard</a>
              </li>
              <li {% if section == "navbardev" %}class="selected"{% endif %}>
                 <a href="{% url "navibar:navibar" %}">dashboard</a>
              </li>
          </ul>
        </div>
          {% endif %}

           <div class="user">

             <a href="{% url "accounts:logout" %}">cart</a>
            {% if request.user.is_authenticated %}
              Hello {{ request.user.username }},
              <a href="{% url "accounts:logout" %}">Logout</a>
              {% else %}
              <a href="{% url "accounts:login" %}">Log-in</a>
            {% endif %}
          </div>

      </div>
      <div id="cell1"></div>

     </div>

     {% block content %}
     {% endblock %}

  <script type="text/javascript">
  </script>

</body>
</html>
