#header{
  display: inline-block;
}

.user{
    position: absolute;
    display: inline-block;
    right:10px;
    padding:2px;
}

.menu{
  display: inline-block;
  position: relative;
  width: auto;
}

ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    left:5px;
}


 li{
    padding:2px;
    display: inline-block;

}



#full-view{
  position:fixed;
  top:0px;
  left:0px;
  width: 100% ;
  background-color:  #5C246E ;
  opacity: 0.5 ;
  color :white;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index:1000;
  visibility: hidden;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
  padding: 2px;
  background-color: #776644;
  opacity: 1;
}
