#background{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:white;
	background-image:url('../images/welcome.jpg');
	background-size:  cover; 
	background-repeat:   no-repeat;
}

#plslgn{
	font-size:30px;
	color:white;
}
#err{
	font-size:15px;
	color:white;
}

#usr{
	font-size:20px;
	color:white;
}

#psw{
	font-size:21px;
	color:white;
}

#loginform{
	position:absolute;
	left:42%;
	top:22%;
}


